Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

fixup! fix: babybuddy
  kubernetes/apps/default/babybuddy/app/helmrelease.yaml
  kubernetes/apps/default/babybuddy/ks.yaml
  kubernetes/templates/volsync/minio.yaml
Labels: area/kubernetes

fix: dragonfly args for outline
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes

feat: nas refactor
  .archive/kubernetes/certs-deploy/helmrelease.yaml
  .archive/kubernetes/certs-deploy/kustomization.yaml
  .archive/kubernetes/certs-deploy/truenas-certs-deploy.py
  .archive/kubernetes/certs-deploy/truenas-certs-deploy.sh
  .archive/media-browser/app/helmrelease.yaml
  .archive/media-browser/app/kustomization.yaml
  .archive/media-browser/app/volsync.yaml
  .archive/media-browser/ks.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/calibre/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/default/homelab/minio/backup/rclone.conf
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/truenas/backup/truenas-backup.sh
  kubernetes/apps/default/homelab/truenas/kustomization.yaml
  kubernetes/apps/default/homelab/truenas/photo-sort/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/komga/app/helmrelease.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/lms/app/helmrelease.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/music-transcode/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/photoprism/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/claude/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/helene/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sharry/app/config/sharry.conf
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/templates/volsync/minio.yaml
Labels: area/kubernetes

feat: homepage
  kubernetes/apps/default/homepage/app/config/bookmarks.yaml
  kubernetes/apps/default/homepage/app/config/docker.yaml
  kubernetes/apps/default/homepage/app/config/kubernetes.yaml
  kubernetes/apps/default/homepage/app/config/services.yaml
  kubernetes/apps/default/homepage/app/config/settings.yaml
  kubernetes/apps/default/homepage/app/config/widgets.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/rbac.yaml
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: vars
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/default/homelab/minio/backup/rclone.conf
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/truenas/backup/truenas-backup.sh
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/sharry/app/config/sharry.conf
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/templates/volsync/minio.yaml
Labels: area/kubernetes

feat: kube scrape stuff
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

chore: monitoring shenanigans
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat: prometheus replicas 2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: migrate thanos to another chart
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/thanos/app/externalsecret.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/apps/monitoring/thanos/app/objectbucketclaim.yaml
  kubernetes/apps/monitoring/thanos/app/pushsecret.yaml
  kubernetes/apps/monitoring/thanos/app/resources/cache.yaml
  kubernetes/flux/repositories/helm/bitnami.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/stevehipwell.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat: cloudnativepg openebs-hostpath
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

archive democratic-csi
  .archive/kubernetes/democratic-csi/ks.yaml
  .archive/kubernetes/democratic-csi/local-path/helmrelease.yaml
  .archive/kubernetes/democratic-csi/local-path/kustomization.yaml
  .archive/kubernetes/media-browser/app/helmrelease.yaml
  .archive/kubernetes/media-browser/app/kustomization.yaml
  .archive/kubernetes/media-browser/app/volsync.yaml
  .archive/kubernetes/media-browser/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/repositories/helm/democratic-csi.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: remove truenas stuff
  .vscode/extensions.json
  .vscode/settings.json
  ansible/inventory/host_vars/storage.sops.yaml
  ansible/playbooks/storage.yml
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/default/homelab/ks.yaml
  kubernetes/apps/default/homelab/minio/kustomization.yaml
  kubernetes/apps/default/homelab/truenas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/truenas/backup/truenas-backup.sh
  kubernetes/apps/default/homelab/truenas/kustomization.yaml
  kubernetes/apps/default/homelab/truenas/photo-sort/helmrelease.yaml
Labels: area/ansible, area/kubernetes

feat: remove local-path
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/local-path-provisioner.yaml
Labels: area/kubernetes

feat: talos openebs
  kubernetes/talos/cluster-0/talconfig.yaml
  kubernetes/talos/cluster-0/talenv.sops.yaml
Labels: area/kubernetes

fix: pgadmin UID
  kubernetes/apps/default/pgadmin/app/helmrelease.yaml
  kubernetes/apps/default/pgadmin/ks.yaml
Labels: area/kubernetes

feat: scrutiny pin sha
  kubernetes/apps/monitoring/scrutiny/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease.yaml
Labels: area/kubernetes

fix: qb port name
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: homepage
  .github/renovate/grafanaDashboards.json5
  kubernetes/apps/default/homepage/app/config/services.yaml
  kubernetes/apps/default/homepage/app/config/widgets.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/rbac.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes

fix: volsync
  kubernetes/templates/volsync/minio.yaml
Labels: area/kubernetes

kubelet-csr-approver fix regexp
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
Labels: area/kubernetes

feat: talos v1.7.2 & kubernetes v1.30.1
  README.md
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/docs, area/kubernetes

feat: jellyfin 10.9.2
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive resilio sync
  .archive/resilio-sync/claude/config/sync.conf
  .archive/resilio-sync/claude/helmrelease.yaml
  .archive/resilio-sync/claude/kustomization.yaml
  .archive/resilio-sync/helene/config/sync.conf
  .archive/resilio-sync/helene/helmrelease.yaml
  .archive/resilio-sync/helene/kustomization.yaml
  .archive/resilio-sync/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

clean ansible
  ansible/inventory/host_vars/postgresql_v15.yml
  ansible/inventory/host_vars/postgresql_v16.yml
  ansible/inventory/host_vars/storage.sops.yaml
  ansible/inventory/host_vars/truenas.sops.yaml
  ansible/inventory/host_vars/truenas.yaml
  ansible/playbooks/minio.yml
  ansible/roles/coreelec/files/backup.bash
  ansible/roles/coreelec/templates/storage-nfs.mount
  ansible/roles/minio/tasks/main.yml
Labels: area/ansible

fix: tentative truenas backup script
  kubernetes/apps/default/homelab/truenas/backup/truenas-backup.sh
Labels: area/kubernetes

fix: flux-diff
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
Labels: area/github

feat: homepage config
  kubernetes/apps/default/bazarr/app/externalsecret.yaml
  kubernetes/apps/default/homepage/app/config/bookmarks.yaml
  kubernetes/apps/default/homepage/app/config/services.yaml
  kubernetes/apps/default/homepage/app/config/widgets.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes

ci: cgr.dev/chainguard autoMerge
  .github/renovate/autoMerge.json5
Labels: area/github

fix: sonarr 2Gi limits
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: kube-prometheus-stack pikvm
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

fix: thanos url
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: frigate camera hostname
  kubernetes/apps/default/frigate/app/config/config.yml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
Labels: area/kubernetes

fixup! ⬆️ Update Flux group ( v2.2.3 → v2.3.0 )
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix: remove patchesStrategicMerge
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: grafana zrepl dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: clean vscode extensions
  .vscode/extensions.json
Labels: none

feat: homepage activation
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/babybuddy/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/calibre/app/helmrelease.yaml
  kubernetes/apps/default/emqx/app/emqx/helmrelease.yaml
  kubernetes/apps/default/flood/app/helmrelease.yaml
Labels: area/kubernetes

chore: cleanup
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*
