Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*

🚀 capacitor
  kubernetes/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/apps/flux-system/capacitor/app/rbac.yaml
  kubernetes/apps/flux-system/capacitor/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

⬆️ Update app-template ( 2.6.0 → 3.0.4 )
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/babybuddy/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/calibre/app/helmrelease.yaml
  kubernetes/apps/default/flood/app/helmrelease.yaml
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
Labels: area/kubernetes

⬆️ Update app-template ( 2.6.0 → 3.0.4 )
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homelab/minio/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/truenas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/truenas/certs-deploy/helmrelease.yaml
  kubernetes/apps/default/homelab/truenas/photo-sort/helmrelease.yaml
  kubernetes/apps/default/invidious/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/joplin/app/helmrelease.yaml
  kubernetes/apps/default/komf/app/helmrelease.yaml
  kubernetes/apps/default/komga/app/helmrelease.yaml
  kubernetes/apps/default/kresus/app/helmrelease.yaml
  kubernetes/apps/default/libmedium/app/helmrelease.yaml
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/linkding/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/lms/app/helmrelease.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/lychee/app/sync/helmrelease.yaml
Labels: area/kubernetes

flux-local update
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
Labels: area/github

🐛 LOCAL_LAN_TRUENAS var
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/calibre/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/komga/app/helmrelease.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/lms/app/helmrelease.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

⬆️ Update app-template ( 2.6.0 → 3.0.4 )
  kubernetes/apps/default/mailrise/app/helmrelease.yaml
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/apps/default/music-transcode/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/pgadmin/app/helmrelease.yaml
  kubernetes/apps/default/photoprism/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/pushover-notifier/app/github-releases/helmrelease.yaml
  kubernetes/apps/default/pyload/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/upgrade-p2pblocklist/helmrelease.yaml
Labels: area/kubernetes

fix var
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix vars
  kubernetes/apps/default/emqx/app/emqx/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/lms/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

⬆️ Update app-template ( 2.6.0 → 3.0.4 )
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/claude/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/helene/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sharry/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/apps/default/wallabag/app/helmrelease.yaml
  kubernetes/apps/default/whoogle/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

⬆️ Update app-template ( 2.6.0 → 3.0.4 )
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/helmrelease.yaml
  kubernetes/apps/database/influx/app/helmrelease.yaml
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/babybuddy/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/calibre/app/helmrelease.yaml
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/apps/default/wallabag/app/helmrelease.yaml
  kubernetes/apps/default/whoogle/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/ngnode/landing-page/app-staging/helmrelease.yaml
  kubernetes/apps/ngnode/landing-page/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/tools/helmrelease.yaml
Labels: area/kubernetes

fix vars
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix vars
  kubernetes/apps/default/mailrise/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

🐛 qbittorrent svc name
  kubernetes/apps/default/flood/app/helmrelease.yaml
Labels: area/kubernetes

🔊 atuin probes
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

⬆️ cnpg postgresql:16.2-10
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

🚀 dragonfly
  .github/renovate/groups.json5
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/apps/database/dragonfly/app/rbac.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/database/dragonfly/cluster/podmonitor.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/github, area/kubernetes

⚡️ postgres16 4 replicas
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

⚡️ migrate redis to dragonfly
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/outline/app/externalsecret.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/wallabag/app/helmrelease.yaml
Labels: area/kubernetes

🔥 redis
  .archive/kubernetes/immich/app/configmap.yaml
  .archive/kubernetes/immich/app/externalsecret.yaml
  .archive/kubernetes/immich/app/kustomization.yaml
  .archive/kubernetes/immich/app/machine-learning/helmrelease.yaml
  .archive/kubernetes/immich/app/machine-learning/kustomization.yaml
  .archive/kubernetes/immich/app/microservices/helmrelease.yaml
  .archive/kubernetes/immich/app/microservices/kustomization.yaml
  .archive/kubernetes/immich/app/server/config/immich-config.json
  .archive/kubernetes/immich/app/server/helmrelease.yaml
  .archive/kubernetes/immich/app/server/kustomization.yaml
  .archive/kubernetes/immich/app/volumes.yaml
  .archive/kubernetes/immich/ks.yaml
  .archive/kubernetes/kromgo/app/helmrelease.yaml
  .archive/kubernetes/kromgo/app/kustomization.yaml
  .archive/kubernetes/kromgo/app/resources/config.yaml
  .archive/kubernetes/kromgo/ks.yaml
  .archive/kubernetes/redis/app/configmap.yaml
  .archive/kubernetes/redis/app/helmrelease.yaml
  .archive/kubernetes/redis/app/kustomization.yaml
  .archive/kubernetes/redis/ks.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

🐛 volsync empty volume fix
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

🐛 remove redis dependency
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
  kubernetes/apps/default/ghostfolio/ks.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/photoprism/app/helmrelease.yaml
  kubernetes/apps/default/wallabag/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

🐛 remove redis dependency
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
  kubernetes/apps/default/ghostfolio/ks.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/lychee/ks.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/outline/ks.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/photoprism/app/helmrelease.yaml
  kubernetes/apps/default/wallabag/app/helmrelease.yaml
  kubernetes/apps/default/wallabag/ks.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

🔥 archive pyload
  .archive/kubernetes/pyload/app/helmrelease.yaml
  .archive/kubernetes/pyload/app/kustomization.yaml
  .archive/kubernetes/pyload/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

♻️ resilio-sync wolfi
  kubernetes/apps/default/resilio-sync/claude/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/helene/helmrelease.yaml
Labels: area/kubernetes

Loki nginx 1.26
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

🚀 redlib
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/redlib/app/helmrelease.yaml
  kubernetes/apps/default/redlib/app/kustomization.yaml
  kubernetes/apps/default/redlib/ks.yaml
Labels: area/kubernetes

feat: archive libreddit
  .archive/kubernetes/libreddit/app/helmrelease.yaml
  .archive/kubernetes/libreddit/app/kustomization.yaml
  .archive/kubernetes/libreddit/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: renovate gha group
  .github/renovate/groups.json5
Labels: area/github

chore: nginx-unprivileged repository
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

feat: openebs
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/openebs.yaml
Labels: area/kubernetes

feat: lychee VOLSYNC_CACHE_CAPACITY
  kubernetes/apps/default/lychee/ks.yaml
Labels: area/kubernetes

feat: flux-installation tweaks
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix: loki 6.x.x
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: vector
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat: babybuddy probe
  kubernetes/apps/default/babybuddy/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive loki & vector
  .archive/kubernetes/loki/app/gatus.yaml
  .archive/kubernetes/loki/app/helmrelease.yaml
  .archive/kubernetes/loki/app/kustomization.yaml
  .archive/kubernetes/loki/app/objectbucketclaim.yaml
  .archive/kubernetes/loki/app/rules/loki-alerting-rules.yaml
  .archive/kubernetes/loki/ks.yaml
  .archive/kubernetes/vector/app/agent/config/vector.yaml
  .archive/kubernetes/vector/app/agent/helmrelease.yaml
  .archive/kubernetes/vector/app/agent/kustomization.yaml
  .archive/kubernetes/vector/app/agent/patches/kustomizeconfig.yaml
  .archive/kubernetes/vector/app/agent/rbac.yaml
  .archive/kubernetes/vector/app/aggregator/config/vector.yaml
  .archive/kubernetes/vector/app/aggregator/externalsecret.yaml
  .archive/kubernetes/vector/app/aggregator/helmrelease.yaml
  .archive/kubernetes/vector/app/aggregator/kustomization.yaml
  .archive/kubernetes/vector/app/aggregator/patches/geoip.yaml
  .archive/kubernetes/vector/app/aggregator/patches/kustomizeconfig.yaml
  .archive/kubernetes/vector/app/kustomization.yaml
  .archive/kubernetes/vector/ks.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix: babybuddy
  kubernetes/apps/default/babybuddy/app/helmrelease.yaml
Labels: area/kubernetes

feat: gatus redirect to opnsense
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/templates/gatus/external/configmap.yaml
Labels: area/kubernetes

feat: pushover-notifier-github-releases chainguard image
  kubernetes/apps/default/pushover-notifier/app/github-releases/helmrelease.yaml
Labels: area/kubernetes
