Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*

feat: zeroclaw
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zeroclaw/app/externalsecret.yaml
  kubernetes/apps/default/zeroclaw/app/helmrelease.yaml
  kubernetes/apps/default/zeroclaw/app/kustomization.yaml
  kubernetes/apps/default/zeroclaw/ks.yaml
Labels: area/kubernetes

feat: zeroclaw
  .archive/kubernetes/nanobot/app/externalsecret.yaml
  .archive/kubernetes/nanobot/app/helmrelease.yaml
  .archive/kubernetes/nanobot/app/kustomization.yaml
  .archive/kubernetes/nanobot/app/resources/config.json
  .archive/kubernetes/nanobot/ks.yaml
  .archive/kubernetes/openclaw/app/externalsecret.yaml
  .archive/kubernetes/openclaw/app/helmrelease.yaml
  .archive/kubernetes/openclaw/app/kustomization.yaml
  .archive/kubernetes/openclaw/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zeroclaw/app/externalsecret.yaml
  kubernetes/apps/default/zeroclaw/app/helmrelease.yaml
  kubernetes/apps/default/zeroclaw/app/kustomization.yaml
  kubernetes/apps/default/zeroclaw/code/helmrelease.yaml
  kubernetes/apps/default/zeroclaw/code/kustomization.yaml
  kubernetes/apps/default/zeroclaw/ks.yaml
Labels: area/kubernetes

feat: zeroclaw
  .archive/kubernetes/nanobot/app/externalsecret.yaml
  .archive/kubernetes/nanobot/app/helmrelease.yaml
  .archive/kubernetes/nanobot/app/kustomization.yaml
  .archive/kubernetes/nanobot/app/resources/config.json
  .archive/kubernetes/nanobot/ks.yaml
  .archive/kubernetes/openclaw/app/externalsecret.yaml
  .archive/kubernetes/openclaw/app/helmrelease.yaml
  .archive/kubernetes/openclaw/app/kustomization.yaml
  .archive/kubernetes/openclaw/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zeroclaw/app/externalsecret.yaml
  kubernetes/apps/default/zeroclaw/app/helmrelease.yaml
  kubernetes/apps/default/zeroclaw/app/kustomization.yaml
  kubernetes/apps/default/zeroclaw/ks.yaml
Labels: area/kubernetes

chore: bump zeroclaw
  kubernetes/apps/default/zeroclaw/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.66 ➔ 0.0.72 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

sonarr changes
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix: kopia
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
Labels: area/kubernetes

chore: zeroclaw 0.1.4
  kubernetes/apps/default/zeroclaw/app/helmrelease.yaml
Labels: area/kubernetes

feat: zeroclaw channel
  kubernetes/apps/default/zeroclaw/app/helmrelease.yaml
Labels: area/kubernetes

fix: kopia
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
Labels: area/kubernetes

feat: zeroclaw sync-agents cronjob
  kubernetes/apps/default/zeroclaw/ks.yaml
  kubernetes/apps/default/zeroclaw/sync-agents/helmrelease.yaml
  kubernetes/apps/default/zeroclaw/sync-agents/kustomization.yaml
Labels: area/kubernetes

chore: bump zeroclaw
  kubernetes/apps/default/zeroclaw/app/helmrelease.yaml
Labels: area/kubernetes

chore: zeroclaw secrets
  kubernetes/apps/default/zeroclaw/app/externalsecret.yaml
  kubernetes/apps/default/zeroclaw/app/helmrelease.yaml
Labels: area/kubernetes

chore: zeroclaw secrets
  kubernetes/apps/default/zeroclaw/app/helmrelease.yaml
Labels: area/kubernetes

chore: archive zeroclaw
  .archive/kubernetes/zeroclaw/app/externalsecret.yaml
  .archive/kubernetes/zeroclaw/app/helmrelease.yaml
  .archive/kubernetes/zeroclaw/app/kustomization.yaml
  .archive/kubernetes/zeroclaw/ks.yaml
  .archive/kubernetes/zeroclaw/sync-agents/helmrelease.yaml
  .archive/kubernetes/zeroclaw/sync-agents/kustomization.yaml
Labels: none

chore: archive nanobot
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/nanobot/app/externalsecret.yaml
  kubernetes/apps/default/nanobot/app/helmrelease.yaml
  kubernetes/apps/default/nanobot/app/kustomization.yaml
  kubernetes/apps/default/nanobot/app/resources/config.json
  kubernetes/apps/default/nanobot/ks.yaml
Labels: area/kubernetes

fix: kopia
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
Labels: area/kubernetes

refactor: ocirepository
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/atuin/app/kustomization.yaml
  kubernetes/apps/default/atuin/app/ocirepository.yaml
Labels: area/kubernetes

refactor: ocirepository
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/apps/database/dragonfly/app/ocirepository.yaml
  kubernetes/apps/database/influx/app/helmrelease.yaml
  kubernetes/apps/database/influx/app/kustomization.yaml
  kubernetes/apps/database/influx/app/ocirepository.yaml
  kubernetes/apps/database/mosquitto/app/helmrelease.yaml
  kubernetes/apps/database/mosquitto/app/kustomization.yaml
  kubernetes/apps/database/mosquitto/app/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/ocirepository.yaml
Labels: area/kubernetes

chore: remove unused docs
  docs/README.md
  docs/STORAGE.md
Labels: area/docs

chore: extend home-assistant pvc
  AGENTS.md
  CLAUDE.md
  kubernetes/apps/default/home-assistant/ks.yaml
Labels: area/kubernetes

refactor: toolbox & gum
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
  kubernetes/apps/default/homelab/nas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/resources/script.sh
  kubernetes/apps/default/homelab/opnsense/backup/backup.sh
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/lychee/sync/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/upgrade-p2pblocklist/helmrelease.yaml
Labels: area/kubernetes

chore: update toolbox
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/helmrelease.yaml
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/lychee/sync/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/upgrade-p2pblocklist/helmrelease.yaml
Labels: area/kubernetes

chore: toolbox
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/helmrelease.yaml
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/lychee/sync/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/upgrade-p2pblocklist/helmrelease.yaml
Labels: area/kubernetes

chore(webhook): add test-flow rollout annotation
  kubernetes/apps/default/webhook/app/helmrelease.yaml
Labels: area/kubernetes

chore(agent): apply from context
  docs/home-ops-agent-implementation-checklist.md
Labels: area/docs

feat(authelia): scale replicas to 6
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat: replace jellyseerr with seerr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/seerr/app/externalsecret.yaml
  kubernetes/apps/default/seerr/app/helmrelease.yaml
  kubernetes/apps/default/seerr/app/kustomization.yaml
  kubernetes/apps/default/seerr/app/ocirepository.yaml
  kubernetes/apps/default/seerr/app/pvc.yaml
  kubernetes/apps/default/seerr/ks.yaml
Labels: area/kubernetes

chore: toolbox update
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/helmrelease.yaml
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/lychee/sync/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/upgrade-p2pblocklist/helmrelease.yaml
Labels: area/kubernetes

chore: toolbox update (#8266)
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/helmrelease.yaml
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/lychee/sync/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/upgrade-p2pblocklist/helmrelease.yaml
Labels: area/kubernetes

chore: toolbox update
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
  kubernetes/apps/default/homelab/nas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/resources/script.sh
  kubernetes/apps/default/homelab/opnsense/backup/backup.sh
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/lychee/sync/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/upgrade-p2pblocklist/helmrelease.yaml
Labels: area/kubernetes

Auricom/toolbox (#8267)
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
  kubernetes/apps/default/homelab/nas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/resources/script.sh
  kubernetes/apps/default/homelab/opnsense/backup/backup.sh
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/lychee/sync/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/upgrade-p2pblocklist/helmrelease.yaml
Labels: area/kubernetes

chore: transcode
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
Labels: area/kubernetes

Auricom/transcode (#8268)
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
Labels: area/kubernetes

feat: replace jellyseerr with seerr
  kubernetes/apps/default/jellyseerr/app/pvc.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/seerr/app/externalsecret.yaml
  kubernetes/apps/default/seerr/app/helmrelease.yaml
  kubernetes/apps/default/seerr/app/kustomization.yaml
  kubernetes/apps/default/seerr/app/ocirepository.yaml
  kubernetes/apps/default/seerr/ks.yaml
  mise.toml
Labels: area/kubernetes

chore: archive tdarr
  .archive/kubernetes/tdarr/app/helmrelease.yaml
  .archive/kubernetes/tdarr/app/kustomization.yaml
  .archive/kubernetes/tdarr/app/ocirepository.yaml
  .archive/kubernetes/tdarr/inform/config/config.ini
  .archive/kubernetes/tdarr/inform/helmrelease.yaml
  .archive/kubernetes/tdarr/inform/kustomization.yaml
  .archive/kubernetes/tdarr/inform/ocirepository.yaml
  .archive/kubernetes/tdarr/ks.yaml
  .archive/kubernetes/tdarr/node/helmrelease.yaml
  .archive/kubernetes/tdarr/node/kustomization.yaml
  .archive/kubernetes/tdarr/node/ocirepository.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: rename
  kubernetes/apps/default/webhook/app/externalsecret.yaml
  kubernetes/apps/default/webhook/app/helmrelease.yaml
  kubernetes/apps/default/webhook/app/kustomization.yaml
  kubernetes/apps/default/webhook/app/resources/hooks.yaml
  kubernetes/apps/default/webhook/app/resources/jellyseerr-pushover.sh
Labels: area/kubernetes

chore: disable unifi pushsecret
  kubernetes/apps/default/unifi/app/kustomization.yaml
Labels: area/kubernetes

chore: gatus sidecar
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/ks.yaml
Labels: area/kubernetes

chore: archive libmedium
  .archive/kubernetes/libmedium/app/config/config.toml
  .archive/kubernetes/libmedium/app/helmrelease.yaml
  .archive/kubernetes/libmedium/app/kustomization.yaml
  .archive/kubernetes/libmedium/app/ocirepository.yaml
  .archive/kubernetes/libmedium/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes
