Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

chore: clean ansible
  ansible/inventory/group_vars/all/all.sops.yml
  ansible/inventory/group_vars/all/all.yml
  ansible/inventory/host_vars/truenas-remote.sops.yaml
  ansible/inventory/host_vars/truenas-remote.yaml
  ansible/inventory/hosts.yml
  ansible/playbooks/bootstrap_ansible.yml
  ansible/requirements.yml
  ansible/roles/coreelec/tasks/backup.yml
  ansible/roles/coreelec/tasks/nfs.yml
  ansible/roles/coreelec/templates/backup.bash.j2
  ansible/roles/coreelec/templates/storage-nfs.mount.j2
Labels: area/ansible

Update helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: use docker buildx inspect got flux image test workflow
  .github/workflows/flux-image-test.yaml
Labels: area/github

feat: prowlarr-develop
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: prowlarr new envVars
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: radarr new envVars
  kubernetes/apps/default/radarr/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: donarr new envVars
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

210db57c23489ab04c27b1eaef8f1d033e221cf1
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: tdarr resources
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: readeck
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/readeck/app/externalsecret.yaml
  kubernetes/apps/default/readeck/app/helmrelease.yaml
  kubernetes/apps/default/readeck/app/kustomization.yaml
  kubernetes/apps/default/readeck/ks.yaml
Labels: area/kubernetes

feat: prometheus disable authelia
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: remove photoprism
  .archive/kubernetes/photoprism/app/externalsecret.yaml
  .archive/kubernetes/photoprism/app/helmrelease.yaml
  .archive/kubernetes/photoprism/app/kustomization.yaml
  .archive/kubernetes/photoprism/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: archive wallabag
  .archive/kubernetes/wallabag/app/externalsecret.yaml
  .archive/kubernetes/wallabag/app/helmrelease.yaml
  .archive/kubernetes/wallabag/app/kustomization.yaml
  .archive/kubernetes/wallabag/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: windmill
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mailrise/app/mailrise.yaml
  kubernetes/apps/default/windmill/app/externalsecret.yaml
  kubernetes/apps/default/windmill/app/helmrelease.yaml
  kubernetes/apps/default/windmill/app/kustomization.yaml
  kubernetes/apps/default/windmill/app/scripts/grants.sh
  kubernetes/apps/default/windmill/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/windmill.yaml
Labels: area/kubernetes

feat: flux alerts
  kubernetes/apps/actions-runner-system/namespace.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/flux-system/addons/notifications/alert-manager/kustomization.yaml
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
  kubernetes/apps/flux-system/addons/notifications/kustomization.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/volsync/namespace.yaml
Labels: area/kubernetes

fixup! feat: windmill
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/windmill/app/helmrelease.yaml
Labels: area/kubernetes

Revert "⬆️ Update ghcr.io/tarampampam/error-pages ( 2.27.0 → 3.2.0 )"
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

feat(recyclarr): disable sonarr reset_unmatched_scores
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

ci: scrutiny renovate group
  .github/renovate/groups.json5
Labels: area/github

fix: tdarr volsync capacity
  kubernetes/apps/default/tdarr/ks.yaml
Labels: area/kubernetes

fix: config
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix: config
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix: tdarr volsync cache capacity
  kubernetes/apps/default/tdarr/ks.yaml
Labels: area/kubernetes

ci: renovate scrutiny group
  .github/renovate/groups.json5
Labels: area/github

feat: nginx remove default backend
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

feat: plant-it
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/plant-it/app/externalsecret.yaml
  kubernetes/apps/default/plant-it/app/helmrelease.yaml
  kubernetes/apps/default/plant-it/app/kustomization.yaml
  kubernetes/apps/default/plant-it/ks.yaml
Labels: area/kubernetes

feat: plant-it
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/plant-it/app/externalsecret.yaml
  kubernetes/apps/default/plant-it/app/helmrelease.yaml
  kubernetes/apps/default/plant-it/app/kustomization.yaml
  kubernetes/apps/default/plant-it/db/helmrelease.yaml
  kubernetes/apps/default/plant-it/db/kustomization.yaml
  kubernetes/apps/default/plant-it/ks.yaml
Labels: area/kubernetes

feat: refactor cronjobs
  ansible/roles/coreelec/tasks/backup.yml
  ansible/roles/coreelec/tasks/main.yml
  ansible/roles/coreelec/templates/backup.bash.j2
  kubernetes/apps/default/homelab/ks.yaml
  kubernetes/apps/default/homelab/minio/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/minio/backup/kustomization.yaml
  kubernetes/apps/default/homelab/minio/backup/minio-rclone.sh
  kubernetes/apps/default/homelab/minio/backup/rclone.conf
  kubernetes/apps/default/homelab/minio/externalsecret.yaml
  kubernetes/apps/default/homelab/minio/kustomization.yaml
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/opnsense/backup/kustomization.yaml
  kubernetes/apps/default/homelab/opnsense/backup/opnsense-backup.sh
  kubernetes/apps/default/homelab/opnsense/externalsecret.yaml
  kubernetes/apps/default/homelab/opnsense/kustomization.yaml
  kubernetes/apps/default/homelab/storage/photo-sort/scripts/sort.sh
Labels: area/ansible, area/kubernetes

feat: refactor cronjobs
  ansible/.envrc
  ansible/devbox.json
  ansible/devbox.lock
  ansible/roles/coreelec/tasks/backup.yml
  ansible/roles/coreelec/tasks/main.yml
  ansible/roles/coreelec/templates/backup.bash.j2
  ansible/shell.nix
  kubernetes/apps/default/homelab/ks.yaml
  kubernetes/apps/default/homelab/minio/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/minio/backup/kustomization.yaml
  kubernetes/apps/default/homelab/minio/backup/minio-rclone.sh
  kubernetes/apps/default/homelab/minio/backup/rclone.conf
  kubernetes/apps/default/homelab/minio/externalsecret.yaml
  kubernetes/apps/default/homelab/minio/kustomization.yaml
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/opnsense/backup/kustomization.yaml
  kubernetes/apps/default/homelab/opnsense/backup/opnsense-backup.sh
  kubernetes/apps/default/homelab/opnsense/externalsecret.yaml
  kubernetes/apps/default/homelab/opnsense/kustomization.yaml
  kubernetes/apps/default/homelab/storage/kustomization.yaml
  kubernetes/apps/default/homelab/storage/photo-sort/helmrelease.yaml
  kubernetes/apps/default/homelab/storage/photo-sort/kustomization.yaml
  kubernetes/apps/default/homelab/storage/photo-sort/scripts/sort.sh
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mailrise/app/mailrise.yaml
Labels: area/ansible, area/kubernetes

feat: archive pushover-notifier
  .archive/kubernetes/pushover-notifier/app/github-releases/config/config.yaml
  .archive/kubernetes/pushover-notifier/app/github-releases/config/script.py
  .archive/kubernetes/pushover-notifier/app/github-releases/helmrelease.yaml
  .archive/kubernetes/pushover-notifier/app/github-releases/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/pushover-notifier/app/externalsecret.yaml
  kubernetes/apps/default/pushover-notifier/app/kustomization.yaml
  kubernetes/apps/default/pushover-notifier/ks.yaml
Labels: area/kubernetes

fix: lychee-sync
  kubernetes/apps/default/lychee/app/sync/helmrelease.yaml
Labels: area/kubernetes

fix: plant-it
  kubernetes/apps/default/plant-it/app/helmrelease.yaml
Labels: area/kubernetes

fix: onepassword-connect token
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/secret.sops.yaml
Labels: area/kubernetes

feat: ingress-nginx default backend
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix: frigate
  kubernetes/apps/default/frigate/app/config/config.yml
Labels: area/kubernetes

feat: lms 9.0.0
  kubernetes/apps/default/lms/app/helmrelease.yaml
Labels: area/kubernetes

feat: tdarr multi-controllers
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/ks.yaml
  kubernetes/apps/default/tdarr/node/helmrelease.yaml
  kubernetes/apps/default/tdarr/node/kustomization.yaml
Labels: area/kubernetes

feat: sharry conf
  kubernetes/apps/default/sharry/app/config/sharry.conf
  kubernetes/apps/default/sharry/app/externalsecret.yaml
  kubernetes/apps/default/sharry/app/helmrelease.yaml
  kubernetes/apps/default/sharry/app/kustomization.yaml
  kubernetes/apps/default/sharry/readme.md
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: cert-manager dnsRecursiveNS
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat: maybe
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/maybe/app/externalsecret.yaml
  kubernetes/apps/default/maybe/app/helmrelease.yaml
  kubernetes/apps/default/maybe/app/kustomization.yaml
  kubernetes/apps/default/maybe/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*
