Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*

fix: postgres cluster
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/flux-system/alerts/github-status/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
Labels: area/kubernetes

fix: postgres cluster
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
Labels: area/kubernetes

feat: home-operations containers
  .github/renovate/autoMerge.json5
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/github, area/kubernetes

fix: externalsecrets
  kubernetes/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes

fixup! refactor: components
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/database/crunchy-postgres-operator/ks.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/database/emqx/ks.yaml
  kubernetes/apps/database/influx/ks.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/calibre/ks.yaml
  kubernetes/apps/default/flood/ks.yaml
  kubernetes/apps/default/freshrss/ks.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/ghostfolio/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/joplin/ks.yaml
  kubernetes/apps/default/komf/ks.yaml
  kubernetes/apps/default/komga/ks.yaml
  kubernetes/apps/default/libmedium/ks.yaml
  kubernetes/apps/default/lidarr/ks.yaml
  kubernetes/apps/default/linkding/ks.yaml
  kubernetes/apps/default/lychee/ks.yaml
  kubernetes/apps/default/navidrome/ks.yaml
  kubernetes/apps/default/outline/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/smtp-relay/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tandoor/ks.yaml
  kubernetes/apps/default/vaultwarden/ks.yaml
  kubernetes/apps/default/vikunja/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
Labels: area/kubernetes

feat: update renovate config
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
Labels: area/github

fix: remove thanos postbuild
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix: flux github-webhook
  kubernetes/apps/flux-system/flux-instance/app/receiver.yaml
Labels: area/kubernetes

fix: joplin
  kubernetes/apps/default/joplin/app/helmrelease.yaml
Labels: area/kubernetes

refactor: observability/network ks
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/namespace.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/network/k8s-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/namespace.yaml
  kubernetes/apps/network/nginx/ks.yaml
  kubernetes/apps/observability/apprise/ks.yaml
  kubernetes/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/namespace.yaml
  kubernetes/apps/observability/pushgateway/ks.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/volsync/kustomization.yaml
  kubernetes/apps/volsync/namespace.yaml
  kubernetes/apps/volsync/volsync/ks.yaml
Labels: area/kubernetes

feat: tdarr paths
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/node/helmrelease.yaml
Labels: area/kubernetes

feat: tdarr-inform
  kubernetes/apps/database/crunchy-postgres-operator/cluster/pgdump.yaml
  kubernetes/apps/default/tdarr/inform/config/config.ini
  kubernetes/apps/default/tdarr/inform/helmrelease.yaml
  kubernetes/apps/default/tdarr/inform/kustomization.yaml
  kubernetes/apps/default/tdarr/ks.yaml
Labels: area/kubernetes

feat: renamarr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/renamarr/app/config/config.yml
  kubernetes/apps/default/renamarr/app/externalsecret.yaml
  kubernetes/apps/default/renamarr/app/helmrelease.yaml
  kubernetes/apps/default/renamarr/app/kustomization.yaml
  kubernetes/apps/default/renamarr/ks.yaml
Labels: area/kubernetes

feat: tdarr folders
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/node/helmrelease.yaml
Labels: area/kubernetes

feat: renamarr dependencies
  kubernetes/apps/default/renamarr/app/config/config.yml
  kubernetes/apps/default/renamarr/dependencies/externalsecret.yaml
  kubernetes/apps/default/renamarr/dependencies/kustomization.yaml
  kubernetes/apps/default/renamarr/ks.yaml
Labels: area/kubernetes

fix: renamarr secrets
  kubernetes/apps/default/renamarr/app/config/config.yml
  kubernetes/apps/default/renamarr/dependencies/externalsecret.yaml
  kubernetes/apps/default/renamarr/dependencies/kustomization.yaml
  kubernetes/apps/default/renamarr/ks.yaml
  kubernetes/apps/flux-system/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: renamarr
  kubernetes/apps/default/renamarr/app/config/config.yml
  kubernetes/apps/default/renamarr/app/kustomization.yaml
Labels: area/kubernetes

refactor: coredns helm
  kubernetes/apps/kube-system/coredns/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
Labels: area/kubernetes

refactor: cilium helm
  kubernetes/apps/kube-system/cilium/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/kube-system/cilium/config/bgp-pool.yaml
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

refactor: kube-system
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/fstrim/app/helmrelease.yaml
  kubernetes/apps/kube-system/fstrim/app/kustomization.yaml
  kubernetes/apps/kube-system/fstrim/ks.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm/values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/apps/kube-system/spegel/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/ks.yaml
Labels: area/kubernetes

refactor: kube-system
  kubernetes/apps/flux-system/repositories/helm/bjw-s.yaml
  kubernetes/apps/flux-system/repositories/helm/cilium.yaml
  kubernetes/apps/flux-system/repositories/helm/coredns.yaml
  kubernetes/apps/flux-system/repositories/helm/descheduler.yaml
  kubernetes/apps/flux-system/repositories/helm/gitea.yaml
  kubernetes/apps/flux-system/repositories/helm/intel.yaml
  kubernetes/apps/flux-system/repositories/helm/kustomization.yaml
  kubernetes/apps/flux-system/repositories/helm/metrics-server.yaml
  kubernetes/apps/flux-system/repositories/helm/node-feature-discovery.yaml
  kubernetes/apps/flux-system/repositories/helm/spegel.yaml
  kubernetes/apps/flux-system/repositories/helm/stakater.yaml
  kubernetes/apps/flux-system/repositories/helm/vector.yaml
  kubernetes/apps/flux-system/repositories/helm/windmill.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/fstrim/app/helmrelease.yaml
  kubernetes/apps/kube-system/fstrim/app/kustomization.yaml
  kubernetes/apps/kube-system/fstrim/ks.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm/values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/apps/kube-system/spegel/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/ks.yaml
Labels: area/kubernetes

feat: envoy-gateway
  kubernetes/apps/flux-system/vars/cluster-settings.yaml
  kubernetes/apps/network/envoy-gateway/external/gateway.yaml
  kubernetes/apps/network/envoy-gateway/external/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/external/redirect.yaml
  kubernetes/apps/network/envoy-gateway/internal/gateway.yaml
  kubernetes/apps/network/envoy-gateway/internal/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/internal/redirect.yaml
  kubernetes/apps/network/envoy-gateway/internal/securitypolicy.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/envoy-gateway/operator/gatewayclass.yaml
  kubernetes/apps/network/envoy-gateway/operator/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/operator/kustomization.yaml
Labels: area/kubernetes

fixup! feat: envoy-gateway
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/crds/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/crds/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/external/gateway.yaml
  kubernetes/apps/network/envoy-gateway/internal/gateway.yaml
  kubernetes/apps/network/envoy-gateway/internal/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/envoy-gateway/operator/gatewayclass.yaml
  kubernetes/apps/network/envoy-gateway/operator/kustomization.yaml
Labels: area/kubernetes

fixup! fixup! feat: envoy-gateway
  kubernetes/apps/network/envoy-gateway/external/gateway.yaml
  kubernetes/apps/network/envoy-gateway/internal/gateway.yaml
Labels: area/kubernetes

refactor: oci repo
  .archive/kubernetes/actions-runner-controller/app/externalsecret.yaml
  .archive/kubernetes/actions-runner-controller/app/helmrelease.yaml
  .archive/kubernetes/actions-runner-controller/app/kustomization.yaml
  .archive/kubernetes/actions-runner-controller/ks.yaml
  .archive/kubernetes/actions-runner-controller/runners/helmrelease.yaml
  .archive/kubernetes/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/database/crunchy-postgres-operator/operator/helmrelease.yaml
  kubernetes/apps/flux-system/repositories/helm/actions-runner-controller.yaml
  kubernetes/apps/flux-system/repositories/helm/aqua.yaml
  kubernetes/apps/flux-system/repositories/helm/backube.yaml
  kubernetes/apps/flux-system/repositories/helm/cloudnative-pg.yaml
  kubernetes/apps/flux-system/repositories/helm/crowdsec.yaml
  kubernetes/apps/flux-system/repositories/helm/crunchydata.yaml
  kubernetes/apps/flux-system/repositories/helm/dysnix.yaml
  kubernetes/apps/flux-system/repositories/helm/kustomization.yaml
  kubernetes/apps/flux-system/repositories/helm/piraeus.yaml
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat: mosquitto
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/mosquitto/app/helmrelease.yaml
  kubernetes/apps/database/mosquitto/app/kustomization.yaml
  kubernetes/apps/database/mosquitto/ks.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/flux-system/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: migrate from emqx to mosquitto
  .archive/kubernetes/emqx/app/emqx/externalsecret.yaml
  .archive/kubernetes/emqx/app/emqx/helmrelease.yaml
  .archive/kubernetes/emqx/app/emqx/kustomization.yaml
  .archive/kubernetes/emqx/ks.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/default/frigate/app/config/config.yml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/flux-system/alerts/alertmanager/alert.yaml
  kubernetes/apps/flux-system/alerts/alertmanager/kustomization.yaml
  kubernetes/apps/flux-system/alerts/alertmanager/provider.yaml
  kubernetes/apps/flux-system/alerts/github-status/alert.yaml
  kubernetes/apps/flux-system/alerts/github-status/externalsecret.yaml
  kubernetes/apps/flux-system/alerts/github-status/kustomization.yaml
  kubernetes/apps/flux-system/alerts/github-status/provider.yaml
  kubernetes/apps/flux-system/alerts/kustomization.yaml
  kubernetes/apps/flux-system/cluster.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/flux-system/repositories/helm/cert-manager-webhook-ovh.yaml
  kubernetes/apps/flux-system/repositories/helm/emxq.yaml
  kubernetes/apps/flux-system/repositories/helm/kustomization.yaml
  kubernetes/apps/flux-system/repositories/kustomization.yaml
  kubernetes/apps/flux-system/repositories/oci/app-template.yaml
  kubernetes/apps/flux-system/repositories/oci/kustomization.yaml
  kubernetes/apps/flux-system/vars/cluster-secrets.sops.yaml
  kubernetes/apps/flux-system/vars/cluster-settings.yaml
  kubernetes/apps/flux-system/vars/kustomization.yaml
  kubernetes/components/common/alerts/kustomization.yaml
  kubernetes/components/common/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: migrate from emqx to mosquitto
  .archive/kubernetes/emqx/app/emqx/externalsecret.yaml
  .archive/kubernetes/emqx/app/emqx/helmrelease.yaml
  .archive/kubernetes/emqx/app/emqx/kustomization.yaml
  .archive/kubernetes/emqx/ks.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/default/frigate/app/config/config.yml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/flux-system/alerts/alertmanager/alert.yaml
  kubernetes/apps/flux-system/alerts/alertmanager/kustomization.yaml
  kubernetes/apps/flux-system/alerts/alertmanager/provider.yaml
  kubernetes/apps/flux-system/alerts/github-status/alert.yaml
  kubernetes/apps/flux-system/alerts/github-status/externalsecret.yaml
  kubernetes/apps/flux-system/alerts/github-status/kustomization.yaml
  kubernetes/apps/flux-system/alerts/github-status/provider.yaml
  kubernetes/apps/flux-system/alerts/kustomization.yaml
  kubernetes/apps/flux-system/cluster.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/flux-system/repositories/helm/cert-manager-webhook-ovh.yaml
  kubernetes/apps/flux-system/repositories/helm/emxq.yaml
  kubernetes/apps/flux-system/repositories/helm/kustomization.yaml
  kubernetes/apps/flux-system/repositories/kustomization.yaml
  kubernetes/apps/flux-system/repositories/oci/app-template.yaml
  kubernetes/apps/flux-system/repositories/oci/kustomization.yaml
  kubernetes/apps/flux-system/vars/cluster-secrets.sops.yaml
  kubernetes/apps/flux-system/vars/cluster-settings.yaml
  kubernetes/apps/flux-system/vars/kustomization.yaml
  kubernetes/components/common/alerts/kustomization.yaml
  kubernetes/components/common/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: migrate from emqx to mosquitto
  .archive/kubernetes/emqx/app/emqx/externalsecret.yaml
  .archive/kubernetes/emqx/app/emqx/helmrelease.yaml
  .archive/kubernetes/emqx/app/emqx/kustomization.yaml
  .archive/kubernetes/emqx/ks.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/default/frigate/app/config/config.yml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/flux-system/alerts/alertmanager/alert.yaml
  kubernetes/apps/flux-system/alerts/alertmanager/kustomization.yaml
  kubernetes/apps/flux-system/alerts/alertmanager/provider.yaml
  kubernetes/apps/flux-system/alerts/github-status/alert.yaml
  kubernetes/apps/flux-system/alerts/github-status/externalsecret.yaml
  kubernetes/apps/flux-system/alerts/github-status/kustomization.yaml
  kubernetes/apps/flux-system/alerts/github-status/provider.yaml
  kubernetes/apps/flux-system/alerts/kustomization.yaml
  kubernetes/apps/flux-system/cluster.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/flux-system/repositories/helm/cert-manager-webhook-ovh.yaml
  kubernetes/apps/flux-system/repositories/helm/emxq.yaml
  kubernetes/apps/flux-system/repositories/helm/kustomization.yaml
  kubernetes/apps/flux-system/repositories/kustomization.yaml
  kubernetes/apps/flux-system/repositories/oci/app-template.yaml
  kubernetes/apps/flux-system/repositories/oci/kustomization.yaml
  kubernetes/apps/flux-system/vars/cluster-secrets.sops.yaml
  kubernetes/apps/flux-system/vars/cluster-settings.yaml
  kubernetes/apps/flux-system/vars/kustomization.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: archive ngnode
  kubernetes/apps/ngnode/kustomization.yaml
  kubernetes/apps/ngnode/landing-page/app-staging/helmrelease.yaml
  kubernetes/apps/ngnode/landing-page/app-staging/kustomization.yaml
  kubernetes/apps/ngnode/landing-page/app/helmrelease.yaml
  kubernetes/apps/ngnode/landing-page/app/kustomization.yaml
  kubernetes/apps/ngnode/landing-page/ks.yaml
Labels: area/kubernetes

refactor: helm repositories
  .archive/kubernetes/ngnode/kustomization.yaml
  .archive/kubernetes/ngnode/landing-page/app-staging/helmrelease.yaml
  .archive/kubernetes/ngnode/landing-page/app-staging/kustomization.yaml
  .archive/kubernetes/ngnode/landing-page/app/helmrelease.yaml
  .archive/kubernetes/ngnode/landing-page/app/kustomization.yaml
  .archive/kubernetes/ngnode/landing-page/ks.yaml
  kubernetes/apps/flux-system/repositories/helm/ingress-nginx.yaml
  kubernetes/apps/flux-system/repositories/helm/jetstack.yaml
  kubernetes/apps/flux-system/repositories/helm/k8s-gateway.yaml
  kubernetes/apps/flux-system/repositories/helm/kyverno.yaml
  kubernetes/apps/flux-system/repositories/helm/openebs.yaml
  kubernetes/apps/flux-system/repositories/helm/postfinance.yaml
  kubernetes/apps/flux-system/repositories/helm/prometheus-community.yaml
  kubernetes/apps/flux-system/repositories/helm/rook-ceph.yaml
  kubernetes/apps/flux-system/repositories/helm/stevehipwell.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/nginx/external/helmrelease.yaml
  kubernetes/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

fix: kubectl tag
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
Labels: area/kubernetes

feat: archive ghostfolio
  .archive/kubernetes/ghostfolio/app/externalsecret.yaml
  .archive/kubernetes/ghostfolio/app/helmrelease.yaml
  .archive/kubernetes/ghostfolio/app/kustomization.yaml
  .archive/kubernetes/ghostfolio/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: music-transcode healthchecks id
  kubernetes/apps/default/homelab/music-transcode/helmrelease.yaml
Labels: area/kubernetes

fixup! fix: music-transcode healthchecks id
  kubernetes/apps/default/homelab/music-transcode/helmrelease.yaml
Labels: area/kubernetes

fix: helmreleases
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/pushgateway/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: disable openebs loki & alloy
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes

feat: zigbee usb disable
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/zzh-zigbee-device.yaml
Labels: area/kubernetes

feat: nginx proxy-busy-buffers-size
  kubernetes/apps/network/nginx/external/helmrelease.yaml
  kubernetes/apps/network/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: k8s-gateway
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes
