Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

fix: attempt pgbackup
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/scripts/list_dbs.sh
Labels: area/kubernetes

Revert "⬆️ Update ghcr.io/onedr0p/bazarr ( 7f152a7 → a1d6776 )"
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: tdarr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/app/kustomization.yaml
  kubernetes/apps/default/tdarr/ks.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(recyclarr): sonarr remux profiles
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix(recyclar): remove bad config
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat(sabnzbd): deactivate auth
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(sonarr): disable auth
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(radarr): disable auth
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(bazarr): disable auth
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(prowlarr): remove auth
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(lidarr): remove auth
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(lidarr): change image to cruntonjohn
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: nfd cpu sources
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat: run jellyfin & tdarr on Intel N100
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
Labels: area/kubernetes

Revert "⬆️ Update ghcr.io/onedr0p/prowlarr-nightly ( 1.19.0.4544 → 1.19.0.4545 )"
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Revert "⬆️ Update ghcr.io/onedr0p/sonarr-develop ( 0fc7fff → 602af44 )"
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

ci(renovate): tdarr group
  .github/renovate/groups.json5
Labels: area/github

ci(renovate): tdarr group
  .github/renovate/groups.json5
Labels: area/github

feat: recyclarr config
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat: flaresolverr
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/default/flaresolverr/app/kustomization.yaml
  kubernetes/apps/default/flaresolverr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: sonarr memory limits
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: recyclarr config
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat: rook-ceph 4th replica
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: freshrss sso
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/freshrss/app/externalsecret.yaml
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

feat: authelia bump
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fixup! feat: freshrss sso
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/kustomization.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/freshrss/app/externalsecret.yaml
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

fix: authelia jwks
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat: archivw whoogle
  .archive/kubernetes/resilio-sync/claude/config/sync.conf
  .archive/kubernetes/resilio-sync/claude/helmrelease.yaml
  .archive/kubernetes/resilio-sync/claude/kustomization.yaml
  .archive/kubernetes/resilio-sync/helene/config/sync.conf
  .archive/kubernetes/resilio-sync/helene/helmrelease.yaml
  .archive/kubernetes/resilio-sync/helene/kustomization.yaml
  .archive/kubernetes/resilio-sync/ks.yaml
  .archive/kubernetes/whoogle/app/helmrelease.yaml
  .archive/kubernetes/whoogle/app/kustomization.yaml
  .archive/kubernetes/whoogle/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: rook-ceph volumes
  kubernetes/apps/default/home-assistant/ks.yaml
Labels: area/kubernetes

fix: hass 2024.6.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore: stuff
  kubernetes/apps/default/freshrss/app/externalsecret.yaml
  kubernetes/apps/flux-system/addons/notifications/github/externalsecret.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/externalsecret.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weaveworks.yaml
Labels: area/kubernetes

chore: stuff
  kubernetes/apps/default/freshrss/app/externalsecret.yaml
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/komga/app/helmrelease.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/pgadmin/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/notifications/github/externalsecret.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weaveworks.yaml
Labels: area/kubernetes

Revert "⬆️ Update ghcr.io/onedr0p/prowlarr-nightly ( 1.19.0.4544 → 1.19.0.4559 )"
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fixup! chore: stuff
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/freshrss/ks.yaml
Labels: area/kubernetes

ci: remove minio workflow
  .github/workflows/minio.yaml
Labels: area/github

feat: outline debug logs
  kubernetes/apps/default/outline/app/helmrelease.yaml
Labels: area/kubernetes

fix: outline
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive homelab-truenas
  .archive/kubernetes/homelab/truenas/backup/helmrelease.yaml
  .archive/kubernetes/homelab/truenas/backup/kustomization.yaml
  .archive/kubernetes/homelab/truenas/backup/truenas-backup.sh
  .archive/kubernetes/homelab/truenas/externalsecret.yaml
  .archive/kubernetes/homelab/truenas/readme.md
  kubernetes/apps/default/homelab/ks.yaml
  kubernetes/apps/default/homelab/storage/kustomization.yaml
  kubernetes/apps/default/homelab/storage/photo-sort/helmrelease.yaml
  kubernetes/apps/default/homelab/storage/photo-sort/kustomization.yaml
  kubernetes/apps/default/homelab/storage/photo-sort/scripts/sort.sh
Labels: area/kubernetes

chore: remove truenas ansible
  ansible/playbooks/storage.yml
  ansible/playbooks/truenas.yml
  ansible/roles/truenas/defaults/main.yml
  ansible/roles/truenas/files/scripts/snapshots_clearempty.py
  ansible/roles/truenas/files/scripts/snapshots_prune.py
  ansible/roles/truenas/files/scripts/telegraf_hddtemp.bash
  ansible/roles/truenas/tasks/directories.yml
  ansible/roles/truenas/tasks/jails/init.yml
  ansible/roles/truenas/tasks/jails/main.yml
  ansible/roles/truenas/tasks/jails/minio-conf.yml
  ansible/roles/truenas/tasks/jails/minio-init.yml
  ansible/roles/truenas/tasks/jails/postgresql-conf.yml
  ansible/roles/truenas/tasks/jails/postgresql-init.yml
  ansible/roles/truenas/tasks/main.yml
  ansible/roles/truenas/tasks/scripts.yml
  ansible/roles/truenas/tasks/scrutiny.yml
  ansible/roles/truenas/tasks/telegraf.yml
  ansible/roles/truenas/tasks/wireguard.yml
  ansible/roles/truenas/templates/postgresql/pg_hba.conf
  ansible/roles/truenas/templates/scripts/jails_update.sh
  ansible/roles/truenas/templates/scripts/scrutiny_collector.sh
  ansible/roles/truenas/templates/scripts/snapshots_prune.sh
  ansible/roles/truenas/templates/telegraf/telegraf.conf
  ansible/roles/truenas/templates/wireguard/ip-check.bash
  ansible/roles/truenas/templates/wireguard/truenas-remote.xpander.ovh.conf
  ansible/roles/truenas/vars/main.yml
Labels: area/ansible

feat: recyclarr sonarr profile
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*
