Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*

gw
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

feat: opengist
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/opengist/app/config/config.yaml
  kubernetes/apps/default/opengist/app/helmrelease.yaml
  kubernetes/apps/default/opengist/app/kustomization.yaml
  kubernetes/apps/default/opengist/ks.yaml
Labels: area/kubernetes

fixup! gw
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

docs: storage cayo
  docs/README.md
  docs/STORAGE.md
Labels: area/docs

fix: kubelet-csr-approver regex
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm/values.yaml
Labels: area/kubernetes

feat: jellyfin schedule on N100
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/node/helmrelease.yaml
Labels: area/kubernetes

fix: task flux
  .taskfiles/volsync/Taskfile.yaml
Labels: area/taskfile

fix: mqtt hostname
  kubernetes/apps/database/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive zwave-js-ui
  .archive/kubernetes/zwave-js-ui/app/helmrelease.yaml
  .archive/kubernetes/zwave-js-ui/app/kustomization.yaml
  .archive/kubernetes/zwave-js-ui/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/aeotec-zwave-device.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
Labels: area/kubernetes

feat: recyclarr
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Create radarr-archive/ks.yaml
  kubernetes/apps/default/radarr-archive/ks.yaml
Labels: area/kubernetes

Create app/kustomization.yaml
  kubernetes/apps/default/radarr-archive/app/kustomization.yaml
Labels: area/kubernetes

Create helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/radarr-archive/app/kustomization.yaml
Labels: area/kubernetes

Create externalsecret.yaml
  kubernetes/apps/default/radarr-archive/app/externalsecret.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
Labels: area/kubernetes

feat: radarr-archive (#7306)
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/radarr-archive/app/externalsecret.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/kustomization.yaml
  kubernetes/apps/default/radarr-archive/ks.yaml
Labels: area/kubernetes

fear: recyclarr radarr-archive
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
Labels: area/kubernetes

Update recyclarr.yml
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Update recyclarr.yml
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Update recyclarr.yml
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat: radarr-archive (#7306)
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/radarr-archive/app/externalsecret.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/kustomization.yaml
  kubernetes/apps/default/radarr-archive/ks.yaml
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat: archive envoy-gateway
  .archive/kubernetes/envoy-gateway/crds/helmrelease.yaml
  .archive/kubernetes/envoy-gateway/crds/kustomization.yaml
  .archive/kubernetes/envoy-gateway/external/gateway.yaml
  .archive/kubernetes/envoy-gateway/external/kustomization.yaml
  .archive/kubernetes/envoy-gateway/external/redirect.yaml
  .archive/kubernetes/envoy-gateway/internal/gateway.yaml
  .archive/kubernetes/envoy-gateway/internal/kustomization.yaml
  .archive/kubernetes/envoy-gateway/internal/redirect.yaml
  .archive/kubernetes/envoy-gateway/internal/securitypolicy.yaml
  .archive/kubernetes/envoy-gateway/ks.yaml
  .archive/kubernetes/envoy-gateway/operator/gatewayclass.yaml
  .archive/kubernetes/envoy-gateway/operator/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

feat: cilium-gateway
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/README.md
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/gateway-api-crds/app/helmrelease.yaml
  kubernetes/apps/kube-system/gateway-api-crds/app/kustomization.yaml
  kubernetes/apps/kube-system/gateway-api-crds/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/bootstrap/apps/crds/helmfile.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/bootstrap/apps/resources.yaml
  scripts/bootstrap-talos.sh
  scripts/render-machine-config.sh
Labels: area/kubernetes, area/taskfile

feat: cilium-gateway
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/README.md
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/gatewayclass.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/gateway-api-crds/app/helmrelease.yaml
  kubernetes/apps/kube-system/gateway-api-crds/app/kustomization.yaml
  kubernetes/apps/kube-system/gateway-api-crds/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/bootstrap/apps/crds/helmfile.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/bootstrap/apps/resources.yaml
  scripts/bootstrap-talos.sh
  scripts/render-machine-config.sh
Labels: area/kubernetes, area/taskfile

fix: envoy-gateway migration
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: envoy-gateway migration
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/database/influx/ks.yaml
  kubernetes/apps/default/jobs-rbac.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lychee/app/kustomization.yaml
  kubernetes/apps/default/lychee/app/sync/helmrelease.yaml
  kubernetes/apps/default/lychee/ks.yaml
  kubernetes/apps/default/lychee/sync/helmrelease.yaml
  kubernetes/apps/default/lychee/sync/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/qbittorrent/upgrade-p2pblocklist/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/upgrade-p2pblocklist/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/resources/config.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/components/common/repos/app-template/ocirepository.yaml
Labels: area/kubernetes

Revert "⬆️ Update ghcr.io/home-operations/charts-mirror/cilium ( 1.17.6 → 1.18.1 ) (#7331)"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore: io.cilium/lb-ipam-ips
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/network/envoy-gateway/config/gateway.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: opnsense-dns
  kubernetes/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/opnsense-dns/app/externalsecret.yaml
  kubernetes/apps/network/opnsense-dns/app/helmrelease.yaml
  kubernetes/apps/network/opnsense-dns/app/kustomization.yaml
  kubernetes/apps/network/opnsense-dns/ks.yaml
Labels: area/kubernetes

chore: cilium
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

fix: cloudflare-dns debug
  kubernetes/apps/network/cloudflare-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix: opnsense-dns
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/network/opnsense-dns/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive opnsense-dns
  .archive/kubernetes/opnsense-dns/app/externalsecret.yaml
  .archive/kubernetes/opnsense-dns/app/helmrelease.yaml
  .archive/kubernetes/opnsense-dns/app/kustomization.yaml
  .archive/kubernetes/opnsense-dns/ks.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

wip
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

chore: update cilium apiversions
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes
