Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*

chore: refactor gatus config for seer
  kubernetes/apps/default/seerr/app/helmrelease.yaml
  kubernetes/apps/default/seerr/ks.yaml
Labels: area/kubernetes

fix: envoy ext-auth
  kubernetes/components/ext-auth/authentication.yaml
Labels: area/kubernetes

fix: envoy
  kubernetes/apps/default/authelia/app/referencegrant.yaml
  kubernetes/apps/default/garage/webui/helmrelease.yaml
  kubernetes/components/ext-auth/authentication.yaml
Labels: area/kubernetes

chore: envoy tweaks
  kubernetes/apps/network/envoy-gateway/config/backendtrafficpolicy.yaml
  kubernetes/apps/network/envoy-gateway/config/envoyproxy.yaml
Labels: area/kubernetes

chore: remove flux-webhook from gatus
  kubernetes/apps/observability/gatus/app/config/config.yaml
Labels: area/kubernetes

feat: prpilot
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/prpilot/app/externalsecret.yaml
  kubernetes/apps/default/prpilot/app/helmrelease.yaml
  kubernetes/apps/default/prpilot/app/kustomization.yaml
  kubernetes/apps/default/prpilot/app/ocirepository.yaml
  kubernetes/apps/default/prpilot/ks.yaml
Labels: area/kubernetes

fix: prpilot
  kubernetes/apps/default/prpilot/app/helmrelease.yaml
Labels: area/kubernetes

refactor: music-transcode
  kubernetes/apps/default/homelab/music-transcode/helmrelease.yaml
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
  kubernetes/apps/default/prpilot/app/helmrelease.yaml
Labels: area/kubernetes

fix: nas-photo-sorter
  kubernetes/apps/default/homelab/nas/photo-sorter/resources/script.sh
Labels: area/kubernetes

fix: music-transcode
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
Labels: area/kubernetes

fix: prpilot
  kubernetes/apps/default/prpilot/app/helmrelease.yaml
Labels: area/kubernetes

fix: prpilot external url
  kubernetes/apps/default/prpilot/app/helmrelease.yaml
Labels: area/kubernetes

feat: immich
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/kustomization.yaml
  kubernetes/apps/default/immich/database/externalsecret.yaml
  kubernetes/apps/default/immich/database/helmrelease.yaml
  kubernetes/apps/default/immich/database/kustomization.yaml
  kubernetes/apps/default/immich/database/ocirepository.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: music-transcode
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
Labels: area/kubernetes

fix: music-transcode
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
Labels: area/kubernetes

feat: immich machine-learning & microservices
  kubernetes/apps/default/immich/database/configmap.yaml
  kubernetes/apps/default/immich/database/helmrelease.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/machine-learning/kustomization.yaml
  kubernetes/apps/default/immich/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/microservices/kustomization.yaml
Labels: area/kubernetes

fix: immich-machine-learning
  kubernetes/apps/default/immich/machine-learning/helmrelease.yaml
Labels: area/kubernetes

sonarr changes
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: archive flood
  kubernetes/apps/default/flood/app/externalsecret.yaml
  kubernetes/apps/default/flood/app/helmrelease.yaml
  kubernetes/apps/default/flood/app/kustomization.yaml
  kubernetes/apps/default/flood/app/ocirepository.yaml
  kubernetes/apps/default/flood/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: qui
  .archive/kubernetes/flood/app/externalsecret.yaml
  .archive/kubernetes/flood/app/helmrelease.yaml
  .archive/kubernetes/flood/app/kustomization.yaml
  .archive/kubernetes/flood/app/ocirepository.yaml
  .archive/kubernetes/flood/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qui/app/externalsecret.yaml
  kubernetes/apps/default/qui/app/helmrelease.yaml
  kubernetes/apps/default/qui/app/kustomization.yaml
  kubernetes/apps/default/qui/app/ocirepository.yaml
  kubernetes/apps/default/qui/ks.yaml
Labels: area/kubernetes

feat: autobrr
  kubernetes/apps/default/autobrr/app/externalsecret.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/kustomization.yaml
  kubernetes/apps/default/autobrr/app/ocirepository.yaml
  kubernetes/apps/default/autobrr/app/prometheusrule.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: kopia
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
Labels: area/kubernetes

chore: qui ext-auth
  kubernetes/apps/default/qui/ks.yaml
Labels: area/kubernetes

feat: volsync-maintenance
  kubernetes/apps/volsync/volsync/ks.yaml
  kubernetes/apps/volsync/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/volsync/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/apps/volsync/volsync/maintenance/kustomization.yaml
  kubernetes/apps/volsync/volsync/maintenance/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync/volsync/maintenance/prometheusrule.yaml
Labels: area/kubernetes

fix: qui
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix: qui
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix: autobrr
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

refactor: kube-prometheus-satck
  kubernetes/apps/observability/kube-prometheus-stack/README.md
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/resources/flux-metrics.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/apps/observability/scrutiny/ks.yaml
  kubernetes/components/common/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

chore: tuppr prometheusrule
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/prometheusrule.yaml
Labels: area/kubernetes

chore: mise
  mise.toml
Labels: none

chore: immich-database image bump
  kubernetes/apps/default/immich/database/helmrelease.yaml
Labels: area/kubernetes

fix: alertmanager
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes

chore: clean devbox
  ansible/.envrc
  ansible/devbox.json
  ansible/devbox.lock
Labels: area/ansible

chore: kopia limits
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
Labels: area/kubernetes

chore: home-assistant deisable multus
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore: archive lychee
  .archive/kubernetes/lychee/app/externalsecret.yaml
  .archive/kubernetes/lychee/app/helmrelease.yaml
  .archive/kubernetes/lychee/app/kustomization.yaml
  .archive/kubernetes/lychee/app/ocirepository.yaml
  .archive/kubernetes/lychee/ks.yaml
  .archive/kubernetes/lychee/sync/helmrelease.yaml
  .archive/kubernetes/lychee/sync/kustomization.yaml
  .archive/kubernetes/lychee/sync/ocirepository.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: grafanadashboards label
  kubernetes/apps/observability/grafana/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/observability/grafana/instance/servicemonitor.yaml
  kubernetes/apps/observability/keda/app/grafanadashboard.yaml
  kubernetes/apps/volsync/volsync/app/grafanadashboard.yaml
Labels: area/kubernetes

chore: immich machine-learning limits
  kubernetes/apps/default/immich/machine-learning/helmrelease.yaml
Labels: area/kubernetes

feat: rook-ceph dashboard
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

chore: grafanadashboards
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/grafanadashboard.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
Labels: area/kubernetes
