Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

🔧 rook-ceph cluster change
  ansible/roles/truenas/tasks/scripts.yml
  ansible/roles/truenas/templates/scripts/jails_update.sh
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/ansible, area/kubernetes

🔧 change talos os disk
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/kubernetes

👷 renovate commitMessage
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

Revert "⬆️ Update spegel ( v0.0.16 → v0.0.17 )"
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

Revert "⬆️ Update docker.io/ghostfolio/ghostfolio ( 2.36.0 → 2.40.0 )"
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

Revert "⬆️ Update public.ecr.aws/docker/library/redis ( 7.2.3 → 7.2.4 )"
  kubernetes/apps/default/authelia/redis/helmrelease.yaml
  kubernetes/apps/default/ghostfolio/redis/helmrelease.yaml
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/lychee/redis/helmrelease.yaml
  kubernetes/apps/default/outline/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/redis/helmrelease.yaml
  kubernetes/apps/default/wallabag/redis/helmrelease.yaml
Labels: area/kubernetes

🔧 github-releases opnsense
  kubernetes/apps/default/pushover-notifier/app/github-releases/config/config.yaml
  kubernetes/apps/default/pushover-notifier/app/github-releases/config/script.py
Labels: area/kubernetes

🔧 github-releases truenas-core
  kubernetes/apps/default/pushover-notifier/app/github-releases/config/config.yaml
  kubernetes/apps/default/pushover-notifier/app/github-releases/config/script.py
Labels: area/kubernetes

🔧 postgresql resources tuning
  ansible/roles/truenas/tasks/jails/postgresql-conf.yml
Labels: area/ansible

⬆️ talos v1.6.2
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/kubernetes

🎨 talhelper metadata
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/kubernetes

🚀 kromgo
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
  kubernetes/apps/default/kromgo/app/kustomization.yaml
  kubernetes/apps/default/kromgo/app/resources/config.yaml
  kubernetes/apps/default/kromgo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

📝 logo
  README.md
  docs/src/assets/logo.png
Labels: area/docs

🚑 rook-ceph restore
  kubernetes/apps/default/babybuddy/app/helmrelease.yaml
  kubernetes/apps/default/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/default/vikunja/app/kustomization.yaml
  kubernetes/apps/default/vikunja/app/volume.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volume.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/tools/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/tools/kustomization.yaml
Labels: area/kubernetes

🍱 kube templates
  kubernetes/templates/gatus/external/configmap.yaml
  kubernetes/templates/gatus/external/kustomization.yaml
  kubernetes/templates/gatus/guarded/configmap.yaml
  kubernetes/templates/gatus/guarded/kustomization.yaml
  kubernetes/templates/volsync/README.md
  kubernetes/templates/volsync/claim.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/minio.yaml
Labels: area/kubernetes

🐛 grafana dependency
  kubernetes/apps/monitoring/grafana/ks.yaml
Labels: area/kubernetes

⚡️ rook disk wipe optimizations
  tools/wipe-rook.yaml
Labels: none

fixes
  kubernetes/apps/default/lidarr/app/externalsecret.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
  kubernetes/apps/default/tandoor/app/externalsecret.yaml
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

fixes
  kubernetes/apps/default/immich/app/externalsecret.yaml
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/volumes.yaml
  kubernetes/apps/default/joplin/app/externalsecret.yaml
  kubernetes/apps/default/lidarr/app/externalsecret.yaml
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
  kubernetes/apps/default/tandoor/app/externalsecret.yaml
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

🔥 vector archive
  .archive/kubernetes/vector/agent/helmrelease.yaml
  .archive/kubernetes/vector/agent/kustomization.yaml
  .archive/kubernetes/vector/aggregator/config/vector.yaml
  .archive/kubernetes/vector/aggregator/helmrelease.yaml
  .archive/kubernetes/vector/aggregator/kustomization.yaml
  .archive/kubernetes/vector/aggregator/patches/geoip.yaml
  .archive/kubernetes/vector/aggregator/secret.sops.yaml
  .archive/kubernetes/vector/ks.yaml
Labels: none

🏗️ joplin postgresql disable nossl
  ansible/roles/truenas/tasks/jails/postgresql-conf.yml
  ansible/roles/truenas/templates/postgresql/pg_hba.conf
  kubernetes/apps/monitoring/vector/ks.yaml
Labels: area/ansible, area/kubernetes

🚀 local-path-provisioner
  kubernetes/apps/kube-system/democratic-csi/ks.yaml
  kubernetes/apps/kube-system/democratic-csi/local-path/helmrelease.yaml
  kubernetes/apps/kube-system/democratic-csi/local-path/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/repositories/helm/democratic-csi.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

🚀 cloudnative-pg
  .archive/kubernetes/cloudnative-pg/cluster/backups/external-backup.yaml
  .archive/kubernetes/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/cloudnative-pg/readme.md
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/kustomization.yaml
Labels: area/kubernetes

🚀 redis
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/database/redis/app/kustomization.yaml
  kubernetes/apps/database/redis/ks.yaml
Labels: area/kubernetes

♻️ immich v1.93
  kubernetes/apps/default/immich/app/configmap.yaml
  kubernetes/apps/default/immich/app/externalsecret.yaml
  kubernetes/apps/default/immich/app/kustomization.yaml
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
  kubernetes/apps/default/immich/app/typesense/kustomization.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/immich/redis/kustomization.yaml
Labels: area/kubernetes

fixup! 🚀 redis
  kubernetes/apps/database/redis/app/configmap.yaml
  kubernetes/apps/database/redis/app/externalsecret.yaml
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/database/redis/app/kustomization.yaml
  kubernetes/apps/database/redis/ks.yaml
Labels: area/kubernetes

fixup! 🚀 redis
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/redis/app/configmap.yaml
  kubernetes/apps/database/redis/app/externalsecret.yaml
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/database/redis/app/kustomization.yaml
  kubernetes/apps/database/redis/ks.yaml
  kubernetes/apps/default/immich/app/externalsecret.yaml
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

🐛 immich
  kubernetes/apps/default/immich/app/configmap.yaml
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

🔥 remove obsolete secrets
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

🐛 home-assistant-code volume
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
Labels: area/kubernetes

♻️ remove hardcoded authelia secrets
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/kustomization.yaml
  kubernetes/apps/default/outline/app/externalsecret.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

🔧 LOCAL_LAN_TRUENAS variable
  .archive/kubernetes/gitea/app/externalbackup.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/calibre/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/homelab/truenas/pgdump/helmrelease.yaml
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/komga/app/helmrelease.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/lms/app/helmrelease.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/apps/default/music-transcode/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/pyload/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/claude/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/helene/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

⬆️ Update docker.io/ghostfolio/ghostfolio ( 2.42.0 → 2.44.0 )
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

⬆️ Update ghcr.io/linuxserver/calibre ( version-v7.3.0 → version-v7.4.0 )
  kubernetes/apps/default/calibre/app/helmrelease.yaml
Labels: area/kubernetes

⬆️ Update kube-prometheus-stack ( 55.7.0 → 56.0.4 )
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

👷 renovate commitMessagePrefix gitmoji
  .github/renovate/semanticCommits.json5
Labels: area/github

🐛 authelia missing secrets
  kubernetes/apps/default/authelia/app/externalsecret.yaml
Labels: area/kubernetes

🚀 homelab-photo-sort
  kubernetes/apps/default/homelab/ks.yaml
  kubernetes/apps/default/homelab/truenas/kustomization.yaml
  kubernetes/apps/default/homelab/truenas/photo-sort/helmrelease.yaml
  kubernetes/apps/default/homelab/truenas/photo-sort/kustomization.yaml
  kubernetes/apps/default/homelab/truenas/photo-sort/scripts/sort.sh
Labels: area/kubernetes

🔧 resilio-helene photo nfs share
  kubernetes/apps/default/resilio-sync/helene/helmrelease.yaml
Labels: area/kubernetes

feat: discard flux-manifest digest
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*
