Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*

🔧 paperless remove external dns
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

✨ flux webhook-receiver external-dns
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
Labels: area/kubernetes

👷 update renovate
  .github/renovate.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/workflows/renovate.yaml
Labels: area/github

feat: remove flux dashboard
  kubernetes/apps/flux-system/addons/monitoring/kustomization.yaml
Labels: area/kubernetes

feat: remove flux dashboard
  kubernetes/apps/flux-system/addons/monitoring/kustomization.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

⚡️ cnpgvecto.rs
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

👷 update renovate
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/grafanaDashboards.json5
  .github/workflows/renovate.yaml
Labels: area/github

👷 flux workflows
  .github/scripts/extract-images.mjs
  .github/scripts/helmReleaseDiff.mjs
  .github/scripts/kubeconform.sh
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/kubeconform.yaml
Labels: area/github

👷 renovate groups
  .github/renovate/groups.json5
Labels: area/github

🚑 actions-runner-controller
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

🔥 kubernetes-schemas
  .github/workflows/publish-schemas.yaml
  kubernetes/apps/default/kubernetes-schemas/app/README.md
  kubernetes/apps/default/kubernetes-schemas/app/gatus.yaml
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/apps/default/kubernetes-schemas/app/kustomization.yaml
  kubernetes/apps/default/kubernetes-schemas/app/rbac.yaml
  kubernetes/apps/default/kubernetes-schemas/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/github, area/kubernetes

👷 workflows update
  .github/labels.yaml
  .github/scripts/extract-images.mjs
  .github/workflows/broken-link-check.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/labeler.yml
  .github/workflows/labels-sync.yaml
  .github/workflows/lychee.yaml
  .github/workflows/meta-labeler.yml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

🔧 Lychee changes
  kubernetes/apps/default/lychee/app/helmrelease.yaml
Labels: area/kubernetes

🚑 flux workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
Labels: area/github

👷 tune renovate
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
Labels: area/github

🔥 remove typesense
  kubernetes/apps/default/immich/app/configmap.yaml
  kubernetes/apps/default/immich/app/externalsecret.yaml
  kubernetes/apps/default/immich/app/kustomization.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
  kubernetes/apps/default/immich/app/typesense/kustomization.yaml
Labels: area/kubernetes

🚀 lms
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lms/app/gatus.yaml
  kubernetes/apps/default/lms/app/helmrelease.yaml
  kubernetes/apps/default/lms/app/kustomization.yaml
  kubernetes/apps/default/lms/app/volsync.yaml
  kubernetes/apps/default/lms/ks.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

🔧 code-server ssh key path
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
Labels: area/kubernetes

🐛 hass code UID
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
Labels: area/kubernetes

🔧 frigate nfs mount
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

🔧 lms nfs shares
  kubernetes/apps/default/lms/app/helmrelease.yaml
Labels: area/kubernetes

Revert "⬆️ Update ghcr.io/atuinsh/atuin ( 17.1.0 → v17.2.0 )"
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

🔧 music_transcode fd quiet
  kubernetes/apps/default/music-transcode/app/scripts/transcode.sh
Labels: area/kubernetes

🔧 update coreelec playbook
  ansible/.envrc
  ansible/roles/coreelec/defaults/main.yml
  ansible/roles/coreelec/tasks/nfs.yml
  ansible/shell.nix
Labels: area/ansible

🚑 lychee v5
  kubernetes/apps/default/lychee/app/helmrelease.yaml
Labels: area/kubernetes

🔧 music_transcode fd quiet
  kubernetes/apps/default/music-transcode/app/scripts/transcode.sh
Labels: area/kubernetes

⬆️ talos v1.6.1
  README.md
  kubernetes/talos/.gitignore
  kubernetes/talos/README.md
  kubernetes/talos/cluster-0/talconfig.yaml
  kubernetes/talos/cluster-0/talenv.sops.yaml
  kubernetes/talos/cluster-0/talsecret.sops.yaml
Labels: area/docs, area/kubernetes

🔧 descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

⬆️ atuin v17.2.1
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

🚑 music_transcode fd
  kubernetes/apps/default/music-transcode/app/scripts/transcode.sh
Labels: area/kubernetes

🔧 emqx persistence
  kubernetes/apps/default/emqx/app/emqx/helmrelease.yaml
Labels: area/kubernetes

🐛 vaultwarden ingress annotations
  kubernetes/apps/default/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes

♻️ minio custom jail
  .github/workflows/minio.yaml
  ansible/inventory/host_vars/minio.sops.yaml
  ansible/inventory/hosts.yml
  ansible/playbooks/bootstrap_ansible.yml
  ansible/playbooks/minio.yml
  ansible/roles/minio/tasks/main.yml
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/default/homelab/minio/backup/rclone.conf
  kubernetes/apps/default/homelab/opnsense/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/truenas/backup/truenas-backup.sh
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/sharry/app/config/sharry.conf
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/github, area/kubernetes

♻️ migrate postgresql to truenas jail
  kubernetes/apps/default/babybuddy/app/externalsecret.yaml
  kubernetes/apps/default/babybuddy/app/helmrelease.yaml
  kubernetes/apps/default/babybuddy/ks.yaml
Labels: area/kubernetes

🚑 truenas-certs-deploy
  kubernetes/apps/default/homelab/truenas/certs-deploy/truenas-certs-deploy.sh
Labels: area/kubernetes

♻️ maxmindinc registry
  kubernetes/apps/monitoring/vector/app/aggregator/patches/geoip.yaml
Labels: area/kubernetes

🔥 cloudnative-pg
  .archive/kubernetes/cloudnative-pg/app/externalsecret.yaml
  .archive/kubernetes/cloudnative-pg/app/helmrelease.yaml
  .archive/kubernetes/cloudnative-pg/app/kustomization.yaml
  .archive/kubernetes/cloudnative-pg/cluster/backups/external-backup.yaml
  .archive/kubernetes/cloudnative-pg/cluster/backups/kustomization.yaml
  .archive/kubernetes/cloudnative-pg/cluster/cluster.yaml
  .archive/kubernetes/cloudnative-pg/cluster/kustomization.yaml
  .archive/kubernetes/cloudnative-pg/cluster/scheduledbackup.yaml
  .archive/kubernetes/cloudnative-pg/ks.yaml
  .archive/kubernetes/cloudnative-pg/readme.md
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes
