Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*

fix: pgadmin
  kubernetes/apps/default/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes

feat: homepage annotations
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/babybuddy/app/helmrelease.yaml
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/invidious/app/helmrelease.yaml
  kubernetes/apps/default/joplin/app/helmrelease.yaml
  kubernetes/apps/default/komga/app/helmrelease.yaml
  kubernetes/apps/default/kresus/app/helmrelease.yaml
  kubernetes/apps/default/libmedium/app/helmrelease.yaml
  kubernetes/apps/default/linkding/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/lms/app/helmrelease.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/readeck/app/helmrelease.yaml
  kubernetes/apps/default/redlib/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: plant-it
  kubernetes/apps/default/plant-it/app/helmrelease.yaml
Labels: area/kubernetes

fix: rook-ceph remove 1 node
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/node/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Revert "⬆️ Update ghcr.io/nginxinc/nginx-unprivileged ( 16f6d3e → a0e2ed3 )"
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

fix: postgres16 3 instances
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix: tandoor
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

feat: talos 1.7.6/kube 1.30.2
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/kubernetes

feat: dragonfly 3 replicas
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes

feat: bump maybe
  kubernetes/apps/default/maybe/app/helmrelease.yaml
Labels: area/kubernetes

fixup! ⬆️ Update cilium ( 1.16.1 → 1.16.2 )
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix: cert-manager
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix: revert bazarr
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

ci: talos renovate
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack ( 63.10.0 → 65.1.0 )
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: flux oci repo tag
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix: tdarr memory limits
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
Labels: area/kubernetes

⬆️ Update ghcr.io/auricom/kubectl ( 1.29 → 1.31 )
  kubernetes/apps/default/lychee/app/sync/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/upgrade-p2pblocklist/helmrelease.yaml
Labels: area/kubernetes

feat: ghostfolio probes
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat: ghostfolio probes
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

fix: prom
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fixup! fix: prom
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: new talos node
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: spegel update
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/spegel.yaml
Labels: area/kubernetes

⬆️ Update kubernetes to 1.31
  README.md
  kubernetes/talos/cluster-0/talconfig.yaml
  kubernetes/talos/cluster-0/talenv.sops.yaml
Labels: area/docs, area/kubernetes

ci : renovate config
  .github/workflows/renovate.yaml
Labels: area/github

ci : renovate config
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

feat: zfs prom rules
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/rules/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/rules/zfs.yaml
Labels: area/kubernetes

fix: renovate
  .github/renovate.json5
Labels: area/github

feat: kyverno
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/volsync-movers.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
Labels: area/kubernetes

fix: kyverno deprecation
  kubernetes/apps/kyverno/kyverno/policies/volsync-movers.yaml
Labels: area/kubernetes

chore: pind digests
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/helmrelease.yaml
  kubernetes/apps/database/influx/app/helmrelease.yaml
  kubernetes/apps/default/mailrise/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: redlib@rolling
  kubernetes/apps/default/redlib/app/helmrelease.yaml
Labels: area/kubernetes

chore: pind digests
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/helmrelease.yaml
  kubernetes/apps/database/influx/app/helmrelease.yaml
  kubernetes/apps/default/mailrise/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: redlib@rolling
  kubernetes/apps/default/redlib/app/helmrelease.yaml
Labels: area/kubernetes

feat: change mailrise namespace
  kubernetes/apps/default/kresus/app/helmrelease.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/mailrise/app/externalsecret.yaml
  kubernetes/apps/monitoring/mailrise/app/helmrelease.yaml
  kubernetes/apps/monitoring/mailrise/app/kustomization.yaml
  kubernetes/apps/monitoring/mailrise/app/mailrise.yaml
  kubernetes/apps/monitoring/mailrise/ks.yaml
Labels: area/kubernetes

feat: recyclarr notifications
  kubernetes/apps/default/recyclarr/app/config/settings.yml
  kubernetes/apps/default/recyclarr/app/externalsecret.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/kustomization.yaml
Labels: area/kubernetes

feat: apprise
  kubernetes/apps/monitoring/apprise/app/helmrelease.yaml
  kubernetes/apps/monitoring/apprise/app/kustomization.yaml
  kubernetes/apps/monitoring/apprise/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

feat: pgadmin change namespace
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/pgadmin/app/externalsecret.yaml
  kubernetes/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/apps/database/pgadmin/app/kustomization.yaml
  kubernetes/apps/database/pgadmin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: tweak frigate config
  kubernetes/apps/default/frigate/app/config/config.yml
Labels: area/kubernetes
