Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*

chore: music_transcode verbose
  kubernetes/apps/default/homelab/music-transcode/scripts/transcode.sh
Labels: area/kubernetes

feat: recyclarr sonarr 2160p
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

chore: update prom config
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

chore: fixes
  kubernetes/apps/default/lychee/sync/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

fix: lms persistence
  kubernetes/apps/default/lms/app/helmrelease.yaml
Labels: area/kubernetes

chore: workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/lychee.yaml
Labels: area/github

chore: workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/lychee.yaml
Labels: area/github

feat: sharry external route
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/sharry/app/helmrelease.yaml
Labels: area/kubernetes

feat: recyclarr
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat: just
  .archive/.taskfiles/README.md
  .archive/.taskfiles/Taskfile.yml
  .archive/.taskfiles/ansible/Taskfile.yaml
  .archive/.taskfiles/bootstrap/Taskfile.yaml
  .archive/.taskfiles/bootstrap/resources/wipe-rook.yaml.j2
  .archive/.taskfiles/externalsecrets/Taskfile.yaml
  .archive/.taskfiles/flux/Taskfile.yaml
  .archive/.taskfiles/kubernetes/Taskfile.yaml
  .archive/.taskfiles/sops/Taskfile.yaml
  .archive/.taskfiles/volsync/Taskfile.yaml
  .archive/.taskfiles/volsync/scripts/controller.sh
  .archive/.taskfiles/volsync/scripts/wait.sh
  .archive/.taskfiles/volsync/templates/list.tmpl.yaml
  .archive/.taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .archive/.taskfiles/volsync/templates/unlock.tmpl.yaml
  .archive/.taskfiles/volsync/templates/wipe.tmpl.yaml
  .just/bootstrap.just
  .just/kube.just
  .just/sync.just
  .just/talos.just
  .just/volsync.just
  .just/volsync/scripts/controller.sh
  .just/volsync/scripts/wait.sh
  .just/volsync/templates/list.tmpl.yaml
  .just/volsync/templates/replicationdestination.tmpl.yaml
  .just/volsync/templates/unlock.tmpl.yaml
  .just/volsync/templates/wipe.tmpl.yaml
  .justfile
Labels: none

chore: probes
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: probes
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: playnite
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/playnite/app/externalsecret.yaml
  kubernetes/apps/default/playnite/app/helmrelease.yaml
  kubernetes/apps/default/playnite/app/kustomization.yaml
  kubernetes/apps/default/playnite/app/scripts/pushover-notify.sh
  kubernetes/apps/default/playnite/ks.yaml
Labels: area/kubernetes

feat: playnite
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/playnite/app/externalsecret.yaml
  kubernetes/apps/default/playnite/app/helmrelease.yaml
  kubernetes/apps/default/playnite/app/kustomization.yaml
  kubernetes/apps/default/playnite/ks.yaml
Labels: area/kubernetes

chore: outline memory limit
  kubernetes/apps/default/outline/app/helmrelease.yaml
Labels: area/kubernetes

feat: calibre
  README.md
  kubernetes/apps/default/calibre/calibre-downloader/helmrelease.yaml
  kubernetes/apps/default/calibre/calibre-downloader/kustomization.yaml
  kubernetes/apps/default/calibre/calibre-web-automated/helmrelease.yaml
  kubernetes/apps/default/calibre/calibre-web-automated/kustomization.yaml
  kubernetes/apps/default/calibre/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/docs, area/kubernetes

feat: filebrowser
  kubernetes/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/apps/default/filebrowser/app/kustomization.yaml
  kubernetes/apps/default/filebrowser/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: filebrowser
  kubernetes/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/apps/default/filebrowser/app/kustomization.yaml
  kubernetes/apps/default/filebrowser/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: fb
  kubernetes/apps/default/filebrowser/app/helmrelease.yaml
Labels: area/kubernetes

feat: recyclarr custom formats
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat: resilio-sync
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/resilio-sync/claude/config/sync.conf
  kubernetes/apps/default/resilio-sync/claude/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/claude/kustomization.yaml
  kubernetes/apps/default/resilio-sync/helene/config/sync.conf
  kubernetes/apps/default/resilio-sync/helene/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/helene/kustomization.yaml
  kubernetes/apps/default/resilio-sync/ks.yaml
Labels: area/kubernetes

feat: just kube mount
  .just/kube.just
Labels: none

feat: garage
  kubernetes/apps/default/garage/app/externalsecret.yaml
  kubernetes/apps/default/garage/app/helmrelease.yaml
  kubernetes/apps/default/garage/app/kustomization.yaml
  kubernetes/apps/default/garage/app/resources/configuration.toml
  kubernetes/apps/default/garage/ks.yaml
  kubernetes/apps/default/garage/webui/helmrelease.yaml
  kubernetes/apps/default/garage/webui/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/filebrowser/app/helmrelease.yaml
Labels: area/kubernetes

fix: garage
  kubernetes/apps/default/garage/app/resources/configuration.toml
  kubernetes/apps/default/garage/webui/helmrelease.yaml
Labels: area/kubernetes

fix: tdarr
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: spegel
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
Labels: area/kubernetes

fix: services
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: services
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: services
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/ks.yaml
Labels: area/kubernetes

fix: services
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/inform/config/config.ini
  kubernetes/apps/default/tdarr/ks.yaml
  kubernetes/apps/default/tdarr/node/helmrelease.yaml
Labels: area/kubernetes

feat: recyclarr deactivate obfuscated
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat: recyclarr
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat: orcaslicer & octowverywhere
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/octoeverywhere/app/helmrelease.yaml
  kubernetes/apps/default/octoeverywhere/app/kustomization.yaml
  kubernetes/apps/default/octoeverywhere/ks.yaml
  kubernetes/apps/default/orcaslicer/app/helmrelease.yaml
  kubernetes/apps/default/orcaslicer/app/kustomization.yaml
  kubernetes/apps/default/orcaslicer/ks.yaml
Labels: area/kubernetes

chore: bump homebox
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/homebox/app/externalsecret.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/kustomization.yaml
  kubernetes/apps/default/homebox/ks.yaml
Labels: area/kubernetes

feat: archive octoeverywhere, orcaslicer and playnite
  .archive/kubernetes/octoeverywhere/app/helmrelease.yaml
  .archive/kubernetes/octoeverywhere/app/kustomization.yaml
  .archive/kubernetes/octoeverywhere/ks.yaml
  .archive/kubernetes/orcaslicer/app/helmrelease.yaml
  .archive/kubernetes/orcaslicer/app/kustomization.yaml
  .archive/kubernetes/orcaslicer/ks.yaml
  .archive/kubernetes/playnite/app/externalsecret.yaml
  .archive/kubernetes/playnite/app/helmrelease.yaml
  .archive/kubernetes/playnite/app/kustomization.yaml
  .archive/kubernetes/playnite/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: spoolman
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/spoolman/app/helmrelease.yaml
  kubernetes/apps/default/spoolman/app/kustomization.yaml
  kubernetes/apps/default/spoolman/ks.yaml
Labels: area/kubernetes

feat: frigate config
  kubernetes/apps/default/frigate/app/config/config.yml
Labels: area/kubernetes

fix: gatus sidecar
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat: frigate disable tpu
  kubernetes/apps/default/frigate/app/config/config.yml
Labels: area/kubernetes
