Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*

chore: garage memory limit
  kubernetes/apps/default/garage/app/helmrelease.yaml
Labels: area/kubernetes

up
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
Labels: area/kubernetes

chore: migrate postgres
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/externalsecret.yaml
Labels: area/kubernetes

feat: change nfs dir
  ansible/roles/coreelec/templates/storage-nfs.mount.j2
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/calibre/calibre-downloader/helmrelease.yaml
  kubernetes/apps/default/calibre/calibre-web-automated/helmrelease.yaml
  kubernetes/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/apps/default/garage/app/helmrelease.yaml
  kubernetes/apps/default/homelab/music-transcode/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/komga/app/helmrelease.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/lms/app/helmrelease.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/claude/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/helene/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sharry/app/config/sharry.conf
  kubernetes/apps/default/sharry/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/node/helmrelease.yaml
Labels: area/ansible, area/kubernetes

feat: change nfs dir
  ansible/roles/coreelec/templates/storage-nfs.mount.j2
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/calibre/calibre-downloader/helmrelease.yaml
  kubernetes/apps/default/calibre/calibre-web-automated/helmrelease.yaml
  kubernetes/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/apps/default/garage/app/helmrelease.yaml
  kubernetes/apps/default/homelab/music-transcode/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/photo-sorter/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/komga/app/helmrelease.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/lms/app/helmrelease.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/claude/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/helene/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sharry/app/config/sharry.conf
  kubernetes/apps/default/sharry/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/app/helmrelease.yaml
  kubernetes/apps/default/tdarr/node/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/policies/volsync-movers.yaml
Labels: area/ansible, area/kubernetes

feat: minio
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/minio/app/externalsecret.yaml
  kubernetes/apps/default/minio/app/helmrelease.yaml
  kubernetes/apps/default/minio/app/kustomization.yaml
  kubernetes/apps/default/minio/ks.yaml
Labels: area/kubernetes

feat: volsync new gen
  .archive/kubernetes/kyverno/app/helmrelease.yaml
  .archive/kubernetes/kyverno/app/kustomization.yaml
  .archive/kubernetes/kyverno/app/rbac.yaml
  .archive/kubernetes/kyverno/ks.yaml
  .archive/kubernetes/kyverno/policies/kustomization.yaml
  .archive/kubernetes/kyverno/policies/remove-cpu-limits.yaml
  .archive/kubernetes/kyverno/policies/volsync-movers.yaml
  kubernetes/apps/default/clusterpolicies/base/delete-cpu-limits.yaml
  kubernetes/apps/default/clusterpolicies/base/kustomization.yaml
  kubernetes/apps/default/clusterpolicies/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/grafanadashboard.yaml
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync/volsync/app/ocirepository.yaml
  kubernetes/apps/volsync/volsync/app/prometheusrule.yaml
Labels: area/kubernetes

chore: refactor grafana
  kubernetes/apps/default/clusterpolicies/ks.yaml
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/observability/grafana/instance/servicemonitor.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/volsync/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/bootstrap/apps/crds/helmfile.yaml
Labels: area/kubernetes

feat: keda
  kubernetes/apps/observability/keda/app/grafanadashboard.yaml
  kubernetes/apps/observability/keda/app/helmrelease.yaml
  kubernetes/apps/observability/keda/app/kustomization.yaml
  kubernetes/apps/observability/keda/app/ocirepository.yaml
  kubernetes/apps/observability/keda/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/bootstrap/apps/crds/helmfile.yaml
Labels: area/kubernetes

feat: kopia
  kubernetes/apps/volsync/kopia/app/externalsecret.yaml
  kubernetes/apps/volsync/kopia/app/helmrelease.yaml
  kubernetes/apps/volsync/kopia/app/kustomization.yaml
  kubernetes/apps/volsync/kopia/app/ocirepository.yaml
  kubernetes/apps/volsync/kopia/ks.yaml
  kubernetes/apps/volsync/kustomization.yaml
  kubernetes/components/nfs-scaler/kustomization.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
Labels: area/kubernetes

feat: blackbox probes
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

feat: nfs-scaler
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/calibre/ks.yaml
  kubernetes/apps/default/filebrowser/ks.yaml
  kubernetes/apps/default/flood/ks.yaml
  kubernetes/apps/default/garage/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/komf/ks.yaml
  kubernetes/apps/default/komga/ks.yaml
  kubernetes/apps/default/lidarr/ks.yaml
  kubernetes/apps/default/lms/ks.yaml
  kubernetes/apps/default/navidrome/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr-archive/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/resilio-sync/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sharry/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tdarr/ks.yaml
Labels: area/kubernetes

chore: refacto volsync
  kubernetes/apps/default/kustomization.yaml
  kubernetes/components/volsync/README.md
  kubernetes/components/volsync/externalsecret.yaml
  kubernetes/components/volsync/garage/kustomization.yaml
  kubernetes/components/volsync/garage/replicationdestination.yaml
  kubernetes/components/volsync/garage/replicationsource.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/pvc.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix: scrapeconfig
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

feat: csi-driver-nfs
  kubernetes/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/ocirepository.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: crunchy nfs-csi
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/kustomization.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/nfs-pv.yaml
Labels: area/kubernetes

chore: scrapeconfig
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

feat: arr tmp
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr-archive/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: postgres downsize
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/homebox/app/externalsecret.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/kustomization.yaml
  kubernetes/apps/default/homelab/github-notifier/externalsecret.yaml
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/github-notifier/scripts/github-notifier.py
  kubernetes/apps/default/homelab/ks.yaml
  kubernetes/apps/default/paperless/app/externalsecret.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/tandoor/app/externalsecret.yaml
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
  kubernetes/apps/default/tandoor/app/kustomization.yaml
  kubernetes/apps/default/tandoor/app/resources/nginx.conf
  kubernetes/apps/default/vikunja/app/externalsecret.yaml
  kubernetes/apps/default/vikunja/app/helmrelease.yaml
Labels: area/kubernetes

chore: postgres downsize
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/default/homebox/app/externalsecret.yaml
  kubernetes/apps/default/homebox/app/helmrelease.yaml
  kubernetes/apps/default/homebox/app/kustomization.yaml
  kubernetes/apps/default/homelab/github-notifier/externalsecret.yaml
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/github-notifier/scripts/github-notifier.py
  kubernetes/apps/default/homelab/ks.yaml
  kubernetes/apps/default/paperless/app/externalsecret.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/tandoor/app/externalsecret.yaml
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
  kubernetes/apps/default/tandoor/app/kustomization.yaml
  kubernetes/apps/default/tandoor/app/resources/nginx.conf
  kubernetes/apps/default/vikunja/app/externalsecret.yaml
  kubernetes/apps/default/vikunja/app/helmrelease.yaml
Labels: area/kubernetes

chore: archive outline
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/outline/app/externalsecret.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/outline/app/kustomization.yaml
  kubernetes/apps/default/outline/ks.yaml
  kubernetes/apps/default/outline/readme.md
Labels: area/kubernetes

fixup! chore: postgres downsize
  kubernetes/apps/default/vaultwarden/app/externalsecret.yaml
  kubernetes/apps/default/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes

fixup! chore: archive outline
  .archive/kubernetes/outline/app/externalsecret.yaml
  .archive/kubernetes/outline/app/helmrelease.yaml
  .archive/kubernetes/outline/app/kustomization.yaml
  .archive/kubernetes/outline/ks.yaml
  .archive/kubernetes/outline/readme.md
Labels: none

chore: archive crunchy-postgres
  kubernetes/apps/database/crunchy-postgres-operator/cluster/cluster.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/externalsecret.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/kustomization.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/nfs-pv.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/pgdump.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/podmonitor.yaml
  kubernetes/apps/database/crunchy-postgres-operator/clustersecretstore/clustersecretstore.yaml
  kubernetes/apps/database/crunchy-postgres-operator/clustersecretstore/kustomization.yaml
  kubernetes/apps/database/crunchy-postgres-operator/clustersecretstore/rbac.yaml
  kubernetes/apps/database/crunchy-postgres-operator/ks.yaml
  kubernetes/apps/database/crunchy-postgres-operator/operator/helmrelease.yaml
  kubernetes/apps/database/crunchy-postgres-operator/operator/kustomization.yaml
  kubernetes/apps/database/crunchy-postgres-operator/pgadmin/externalsecret.yaml
  kubernetes/apps/database/crunchy-postgres-operator/pgadmin/httproute.yaml
  kubernetes/apps/database/crunchy-postgres-operator/pgadmin/kustomization.yaml
  kubernetes/apps/database/crunchy-postgres-operator/pgadmin/pgadmin.yaml
  kubernetes/apps/database/crunchy-postgres-operator/pgadmin/service.yaml
  kubernetes/apps/database/crunchy-postgres-operator/userinit-controller/helmrelease.yaml
  kubernetes/apps/database/crunchy-postgres-operator/userinit-controller/helmrepository.yaml
  kubernetes/apps/database/crunchy-postgres-operator/userinit-controller/kustomization.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/homebox/ks.yaml
  kubernetes/apps/default/joplin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lidarr/ks.yaml
  kubernetes/apps/default/lldap/ks.yaml
  kubernetes/apps/default/lychee/ks.yaml
  kubernetes/apps/default/minio/app/externalsecret.yaml
  kubernetes/apps/default/minio/app/helmrelease.yaml
  kubernetes/apps/default/minio/app/kustomization.yaml
  kubernetes/apps/default/minio/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/radarr-archive/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tandoor/ks.yaml
Labels: area/kubernetes

chore: archive csi-driver-nfs
  kubernetes/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/ocirepository.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: homelab-nas-backup
  kubernetes/apps/default/homelab/nas/backup/externalsecret.yaml
  kubernetes/apps/default/homelab/nas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/backup/kustomization.yaml
  kubernetes/apps/default/homelab/nas/backup/resources/script.sh
  kubernetes/apps/default/homelab/nas/kustomization.yaml
  kubernetes/apps/default/homelab/nas/resticprofile-dashboard.json
  kubernetes/apps/default/homelab/nas/rules.yaml
Labels: area/kubernetes

feat: homelab-nas-backup
  kubernetes/apps/default/homelab/nas/backup/externalsecret.yaml
  kubernetes/apps/default/homelab/nas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/backup/kustomization.yaml
  kubernetes/apps/default/homelab/nas/backup/resources/script.sh
  kubernetes/apps/default/homelab/nas/kustomization.yaml
  kubernetes/apps/default/homelab/nas/resticprofile-dashboard.json
  kubernetes/apps/default/homelab/nas/rules.yaml
Labels: area/kubernetes

feat: home-assistant 4Gi
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: homelab backup websocket
  kubernetes/apps/default/homelab/github-notifier/helmrelease.yaml
  kubernetes/apps/default/homelab/github-notifier/kustomization.yaml
  kubernetes/apps/default/homelab/github-notifier/resources/config.yaml
  kubernetes/apps/default/homelab/github-notifier/resources/github-notifier.py
  kubernetes/apps/default/homelab/nas/backup/externalsecret.yaml
  kubernetes/apps/default/homelab/nas/backup/helmrelease.yaml
  kubernetes/apps/default/homelab/nas/backup/kustomization.yaml
  kubernetes/apps/default/homelab/nas/backup/resources/script.py
  kubernetes/apps/default/homelab/nas/backup/resources/script.sh
Labels: area/kubernetes

chore: archive crunchy
  .archive/kubernetes/crunchy-postgres-operator/cluster/cluster.yaml
  .archive/kubernetes/crunchy-postgres-operator/cluster/externalsecret.yaml
  .archive/kubernetes/crunchy-postgres-operator/cluster/kustomization.yaml
  .archive/kubernetes/crunchy-postgres-operator/cluster/nfs-pv.yaml
  .archive/kubernetes/crunchy-postgres-operator/cluster/pgdump.yaml
  .archive/kubernetes/crunchy-postgres-operator/cluster/podmonitor.yaml
  .archive/kubernetes/crunchy-postgres-operator/clustersecretstore/clustersecretstore.yaml
  .archive/kubernetes/crunchy-postgres-operator/clustersecretstore/kustomization.yaml
  .archive/kubernetes/crunchy-postgres-operator/clustersecretstore/rbac.yaml
  .archive/kubernetes/crunchy-postgres-operator/ks.yaml
  .archive/kubernetes/crunchy-postgres-operator/operator/helmrelease.yaml
  .archive/kubernetes/crunchy-postgres-operator/operator/kustomization.yaml
  .archive/kubernetes/crunchy-postgres-operator/pgadmin/externalsecret.yaml
  .archive/kubernetes/crunchy-postgres-operator/pgadmin/httproute.yaml
  .archive/kubernetes/crunchy-postgres-operator/pgadmin/kustomization.yaml
  .archive/kubernetes/crunchy-postgres-operator/pgadmin/pgadmin.yaml
  .archive/kubernetes/crunchy-postgres-operator/pgadmin/service.yaml
  .archive/kubernetes/crunchy-postgres-operator/userinit-controller/helmrelease.yaml
  .archive/kubernetes/crunchy-postgres-operator/userinit-controller/helmrepository.yaml
  .archive/kubernetes/crunchy-postgres-operator/userinit-controller/kustomization.yaml
  .archive/kubernetes/csi-driver-nfs/app/helmrelease.yaml
  .archive/kubernetes/csi-driver-nfs/app/kustomization.yaml
  .archive/kubernetes/csi-driver-nfs/app/ocirepository.yaml
  .archive/kubernetes/csi-driver-nfs/ks.yaml
  .archive/kubernetes/minio/app/externalsecret.yaml
  .archive/kubernetes/minio/app/helmrelease.yaml
  .archive/kubernetes/minio/app/kustomization.yaml
  .archive/kubernetes/minio/ks.yaml
Labels: none

fix: smtp-relay
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/kustomization.yaml
  kubernetes/apps/default/smtp-relay/app/resources/maddy.conf
Labels: area/kubernetes

feat: bookstack-file-exporter
  kubernetes/apps/default/bookstack/app/helmrelease.yaml
  kubernetes/apps/default/bookstack/file-exporter/externalsecret.yaml
  kubernetes/apps/default/bookstack/file-exporter/helmrelease.yaml
  kubernetes/apps/default/bookstack/file-exporter/kustomization.yaml
  kubernetes/apps/default/bookstack/file-exporter/resources/config.yml
  kubernetes/apps/default/bookstack/ks.yaml
  kubernetes/apps/observability/apprise/app/helmrelease.yaml
Labels: area/kubernetes

feat: booklore
  kubernetes/apps/database/mariadb/app/helmrelease.yaml
  kubernetes/apps/default/booklore/app/externalsecret.yaml
  kubernetes/apps/default/booklore/app/helmrelease.yaml
  kubernetes/apps/default/booklore/app/kustomization.yaml
  kubernetes/apps/default/booklore/app/ocirepository.yaml
  kubernetes/apps/default/booklore/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: ephemeral
  kubernetes/apps/default/ephemera/app/helmrelease.yaml
  kubernetes/apps/default/ephemera/app/kustomization.yaml
  kubernetes/apps/default/ephemera/app/ocirepository.yaml
  kubernetes/apps/default/ephemera/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: booklore
  kubernetes/apps/database/mariadb/app/helmrelease.yaml
  kubernetes/apps/default/booklore/app/externalsecret.yaml
  kubernetes/apps/default/booklore/app/helmrelease.yaml
  kubernetes/apps/default/booklore/app/kustomization.yaml
  kubernetes/apps/default/booklore/app/ocirepository.yaml
  kubernetes/apps/default/booklore/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: mariadb-operator
  kubernetes/apps/database/mariadb/app/externalsecret.yaml
  kubernetes/apps/database/mariadb/app/helmrelease.yaml
  kubernetes/apps/database/mariadb/app/helmrepository.yaml
  kubernetes/apps/database/mariadb/cluster/backup.yaml
  kubernetes/apps/database/mariadb/cluster/cluster.yaml
  kubernetes/apps/database/mariadb/crds/helmrelease.yaml
  kubernetes/apps/database/mariadb/crds/helmrepository.yaml
  kubernetes/apps/database/mariadb/crds/kustomization.yaml
  kubernetes/apps/database/mariadb/ks.yaml
Labels: area/kubernetes

fixup! feat: mariadb-operator
  kubernetes/apps/database/mariadb/cluster/cluster.yaml
  kubernetes/apps/database/mariadb/cluster/kustomization.yaml
Labels: area/kubernetes

fixup! feat: mariadb-operator
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/mariadb/app/externalsecret.yaml
  kubernetes/apps/database/mariadb/app/helmrelease.yaml
  kubernetes/apps/database/mariadb/app/helmrepository.yaml
  kubernetes/apps/database/mariadb/app/kustomization.yaml
  kubernetes/apps/database/mariadb/app/ocirepository.yaml
  kubernetes/apps/database/mariadb/cluster/backup.yaml
  kubernetes/apps/database/mariadb/cluster/cluster.yaml
  kubernetes/apps/database/mariadb/crds/helmrelease.yaml
  kubernetes/apps/database/mariadb/crds/helmrepository.yaml
  kubernetes/apps/database/mariadb/crds/kustomization.yaml
  kubernetes/apps/database/mariadb/ks.yaml
  kubernetes/apps/default/booklore/app/externalsecret.yaml
  kubernetes/apps/default/booklore/app/helmrelease.yaml
  kubernetes/apps/default/bookstack/app/externalsecret.yaml
  kubernetes/apps/default/bookstack/app/helmrelease.yaml
  kubernetes/apps/default/bookstack/ks.yaml
Labels: area/kubernetes

fix: resilio-sync
  kubernetes/apps/default/resilio-sync/claude/helmrelease.yaml
  kubernetes/apps/default/resilio-sync/helene/helmrelease.yaml
Labels: area/kubernetes

feat: talos MutatingAdmissionPolicy
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/kubernetes
