Repository auricom/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

⚡️ update taskfiles
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/Ansible/Tasks.yml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Flux/Tasks.yml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Kubernetes/Tasks.yml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/Tasks.yml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
  .taskfiles/VolSync/scripts/controller.sh
  .taskfiles/VolSync/scripts/wait.sh
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
  Taskfile.yml
Labels: area/taskfile

🚀 lychee-sync
  kubernetes/apps/default/lychee/app/sync/helmrelease.yaml
  kubernetes/apps/default/lychee/app/sync/kustomization.yaml
Labels: area/kubernetes

✨ cloudnative-pg migration
  kubernetes/apps/default/freshrss/app/externalsecret.yaml
  kubernetes/apps/default/linkding/app/externalsecret.yaml
  kubernetes/apps/default/lldap/app/externalsecret.yaml
  kubernetes/apps/default/lychee/app/externalsecret.yaml
Labels: area/kubernetes

✨ redis migration
  kubernetes/apps/database/redis/app/externalsecret.yaml
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/database/redis/app/kustomization.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/authelia/redis/helmrelease.yaml
  kubernetes/apps/default/authelia/redis/kustomization.yaml
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
  kubernetes/apps/default/ghostfolio/ks.yaml
  kubernetes/apps/default/ghostfolio/redis/helmrelease.yaml
  kubernetes/apps/default/ghostfolio/redis/kustomization.yaml
  kubernetes/apps/default/immich/app/externalsecret.yaml
  kubernetes/apps/default/lychee/app/helmrelease.yaml
  kubernetes/apps/default/lychee/ks.yaml
  kubernetes/apps/default/lychee/redis/helmrelease.yaml
  kubernetes/apps/default/lychee/redis/kustomization.yaml
  kubernetes/apps/default/outline/app/externalsecret.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/outline/ks.yaml
  kubernetes/apps/default/outline/redis/helmrelease.yaml
  kubernetes/apps/default/outline/redis/kustomization.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/paperless/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/redis/kustomization.yaml
  kubernetes/apps/default/wallabag/app/helmrelease.yaml
  kubernetes/apps/default/wallabag/ks.yaml
  kubernetes/apps/default/wallabag/redis/helmrelease.yaml
  kubernetes/apps/default/wallabag/redis/kustomization.yaml
Labels: area/kubernetes

✨ cloudnative-pg migration
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/kustomization.yaml
  kubernetes/apps/default/atuin/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/babybuddy/app/externalsecret.yaml
  kubernetes/apps/default/bazarr/app/externalsecret.yaml
  kubernetes/apps/default/freshrss/app/externalsecret.yaml
  kubernetes/apps/default/ghostfolio/app/externalsecret.yaml
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
  kubernetes/apps/default/homelab/ks.yaml
  kubernetes/apps/default/homelab/truenas/kustomization.yaml
  kubernetes/apps/default/invidious/app/externalsecret.yaml
  kubernetes/apps/default/joplin/app/externalsecret.yaml
  kubernetes/apps/default/kresus/app/externalsecret.yaml
  kubernetes/apps/default/lidarr/app/externalsecret.yaml
  kubernetes/apps/default/linkding/app/externalsecret.yaml
  kubernetes/apps/default/lldap/app/externalsecret.yaml
  kubernetes/apps/default/lychee/app/externalsecret.yaml
  kubernetes/apps/default/outline/app/externalsecret.yaml
  kubernetes/apps/default/outline/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/externalsecret.yaml
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
  kubernetes/apps/default/pushover-notifier/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/externalsecret.yaml
  kubernetes/apps/default/sharry/app/config/sharry.conf
  kubernetes/apps/default/sharry/app/externalsecret.yaml
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
  kubernetes/apps/default/tandoor/app/externalsecret.yaml
  kubernetes/apps/default/vaultwarden/app/externalsecret.yaml
  kubernetes/apps/default/vikunja/app/externalsecret.yaml
  kubernetes/apps/default/wallabag/app/externalsecret.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
Labels: area/kubernetes

🚑 gatus configmaps
  kubernetes/apps/default/lms/ks.yaml
  kubernetes/apps/default/outline/ks.yaml
  kubernetes/apps/default/resilio-sync/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

🚑 gatus configmaps
  kubernetes/apps/default/kresus/ks.yaml
  kubernetes/apps/default/linkding/ks.yaml
  kubernetes/apps/default/lms/ks.yaml
  kubernetes/apps/default/outline/ks.yaml
  kubernetes/apps/default/resilio-sync/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

🚑 gatus configmaps
  kubernetes/apps/default/atuin/app/gatus.yaml
  kubernetes/apps/default/atuin/app/kustomization.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/authelia/app/gatus.yaml
  kubernetes/apps/default/authelia/app/kustomization.yaml
  kubernetes/apps/default/freshrss/app/kustomization.yaml
  kubernetes/apps/default/freshrss/ks.yaml
  kubernetes/apps/default/hajimari/app/gatus.yaml
  kubernetes/apps/default/hajimari/app/kustomization.yaml
  kubernetes/apps/default/invidious/app/kustomization.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/kresus/ks.yaml
  kubernetes/apps/default/libmedium/app/kustomization.yaml
  kubernetes/apps/default/libreddit/app/kustomization.yaml
  kubernetes/apps/default/linkding/ks.yaml
  kubernetes/apps/default/lms/ks.yaml
  kubernetes/apps/default/lychee/app/kustomization.yaml
  kubernetes/apps/default/mailrise/app/kustomization.yaml
  kubernetes/apps/default/navidrome/app/kustomization.yaml
  kubernetes/apps/default/outline/ks.yaml
  kubernetes/apps/default/resilio-sync/ks.yaml
  kubernetes/apps/default/sharry/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

🚑 kromgo ingress
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

🔥 disable postgresql jails
  ansible/inventory/hosts.yml
Labels: area/ansible

🚀 scrutiny
  kubernetes/apps/database/influx/app/helmrelease.yaml
  kubernetes/apps/database/influx/app/kustomization.yaml
  kubernetes/apps/database/influx/ks.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/collector/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/ks.yaml
Labels: area/kubernetes

🚑 scrutiny mounts
  kubernetes/apps/monitoring/scrutiny/app/externalsecret.yaml
  kubernetes/apps/monitoring/scrutiny/app/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/app/kustomization.yaml
  kubernetes/apps/monitoring/scrutiny/collector/helmrelease.yaml
  kubernetes/apps/monitoring/scrutiny/ks.yaml
Labels: area/kubernetes

🔧 scrutiny collector truenas
  ansible/inventory/group_vars/all/all.sops.yml
  ansible/roles/truenas/defaults/main.yml
  ansible/roles/truenas/tasks/directories.yml
  ansible/roles/truenas/tasks/main.yml
  ansible/roles/truenas/tasks/scrutiny.yml
  ansible/roles/truenas/templates/scripts/scrutiny_collector.sh
Labels: area/ansible

♻️ opnsense backup API url
  kubernetes/apps/default/homelab/opnsense/backup/opnsense-backup.sh
Labels: area/kubernetes

🔥 immich
  .archive/immich/app/configmap.yaml
  .archive/immich/app/externalsecret.yaml
  .archive/immich/app/kustomization.yaml
  .archive/immich/app/machine-learning/helmrelease.yaml
  .archive/immich/app/machine-learning/kustomization.yaml
  .archive/immich/app/microservices/helmrelease.yaml
  .archive/immich/app/microservices/kustomization.yaml
  .archive/immich/app/server/config/immich-config.json
  .archive/immich/app/server/helmrelease.yaml
  .archive/immich/app/server/kustomization.yaml
  .archive/immich/app/volumes.yaml
  .archive/immich/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

⚡️ thanos storegateway volume
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

♻️ cloudnative-pg grafana dashboard url
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
Labels: area/kubernetes

🐛 truenas-remote wireguard dns
  ansible/roles/truenas/templates/wireguard/truenas-remote.xpander.ovh.conf
Labels: area/ansible

fixup! ♻️ remove hardcoded authelia secrets
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes

🔧 pg_dump exclude db app
  kubernetes/apps/database/cloudnative-pg/cluster/pgdump/helmrelease.yaml
Labels: area/kubernetes

⬆️ talos v1.6.4
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/kubernetes

✨ postgres16-v2
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

🩺 gatus truenas & minio
  kubernetes/apps/default/homelab/ks.yaml
  kubernetes/apps/default/homelab/minio/kustomization.yaml
  kubernetes/apps/default/homelab/truenas/kustomization.yaml
  kubernetes/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes

postgres-init 16
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

🔥 kromgo
  .archive/kromgo/app/helmrelease.yaml
  .archive/kromgo/app/kustomization.yaml
  .archive/kromgo/app/resources/config.yaml
  .archive/kromgo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

photoprism
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/photoprism/app/externalsecret.yaml
  kubernetes/apps/default/photoprism/app/helmrelease.yaml
  kubernetes/apps/default/photoprism/app/kustomization.yaml
  kubernetes/apps/default/photoprism/ks.yaml
Labels: area/kubernetes

🚀 landing page stg
  kubernetes/apps/ngnode/landing-page/app-stg/helmrelease.yaml
  kubernetes/apps/ngnode/landing-page/app-stg/kustomization.yaml
  kubernetes/apps/ngnode/landing-page/ks.yaml
Labels: area/kubernetes

👷 renovate ignore staging
  .github/renovate.json5
Labels: area/github

fixup! 👷 renovate ignore staging
  .github/renovate.json5
Labels: area/github

rename stg => staging
  kubernetes/apps/ngnode/landing-page/app-staging/helmrelease.yaml
  kubernetes/apps/ngnode/landing-page/app-staging/kustomization.yaml
  kubernetes/apps/ngnode/landing-page/ks.yaml
Labels: area/kubernetes

flux-image-test
  .github/workflows/flux-image-test.yaml
Labels: area/github

grafana fixes
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

flux-manifests digest
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

⬆️ talos v1.6.5
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/kubernetes

postgres16
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

remove flux-installation notification
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
Labels: area/kubernetes

🔧 talos new host
  kubernetes/talos/cluster-0/talconfig.yaml
Labels: area/kubernetes

music-transcode opus 96
  kubernetes/apps/default/music-transcode/app/scripts/transcode.sh
Labels: area/kubernetes

🔐 truenas wireguard private key
  ansible/inventory/host_vars/truenas-remote.sops.yaml
  ansible/inventory/host_vars/truenas.sops.yaml
  ansible/roles/truenas/templates/wireguard/truenas-remote.xpander.ovh.conf
Labels: area/ansible

🔥 weave-gitops
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: ansible/storage/**/*
      - any-glob-to-any-file: kubernetes/storage/**/*
      - any-glob-to-any-file: terraform/storage/**/*
